@use "shared" as components-base;

//todo: move custom element definitions to separate css?
nok-post-part {
  display: block;
}

article {
  @include components-base.media-breakpoint-up(components-base.$mobile-breakpoint) {
    .narrow-paragraphs,
    &.narrow-paragraphs {
      padding-inline: var(--nok-spacing-section-ends);
    }
  }
  .margin-paragraphs,
  &.margin-paragraphs {
    > p, > nok-post-part, > ul, > ol, > div {
      margin-bottom: 1em;
    }
  }
}