@use "shared" as components-base;

article {
  @include components-base.media-breakpoint-up(components-base.$mobile-breakpoint) {
    .narrow-paragraphs,
    &.narrow-paragraphs {
      padding-inline: var(--nok-spacing-section-ends);
    }
    .margin-paragraphs,
    &.margin-paragraphs {
      > p {
        margin-bottom: 1em;
      }
    }
  }
}