@use "sass:map";
@use "sass:math";
@use "shared" as components-base;

// Links

.nok-hyperlink {
  color: var(--text-color, var(--bg-color--contrast, inherit));
  --underline-color: var(--text-color, var(--bg-color--contrast, inherit));
  --underline-color--active: var(--text-color--contrast, var(--bg-color, inherit));

  @include components-base.nok-inline-link-v2;

  //@at-root p & {
  //  color: var(--nok25-lightblue, inherit);
  //  --underline-color: var(--nok25-lightblue, inherit);
  //  --underline-color--active: var(--nok25-lightblue--contrast, inherit);
  //}
}

p a {
  @include components-base.nok-inline-link-v2;
}