@use "sass:map";
@use "sass:math";
@use "shared" as components-base;

@mixin nok-section {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  overflow-x: clip;
  font-size: 1.1rem;

  //descending z-index cascade
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      --section-index: #{$i * 2 - 1};
      &.z-ascend {
        --section-index: #{$i * 2 - 4};
      }
    }
  }
  z-index: calc(#{components-base.$z-stack-top} - var(--section-index));

  &__inner {
    width: 100%;
    padding-right: var(--#{components-base.$prefix}-nok-spacing-section-sides, (components-base.$padding-base * 2));
    padding-left: var(--#{components-base.$prefix}-nok-spacing-section-sides, (components-base.$padding-base * 2));
    margin: var(--nok-spacing-section-ends, components-base.$padding-base) auto;

    //For page parts that have been embedded inside articles/posts, remove the inline padding and block margin
    @at-root article .nok-section__inner {
      padding-inline: 0;
      margin-block: 0;
    }

    &.double-margin {
      margin: calc(2 * var(--nok-spacing-section-ends, components-base.$padding-base)) auto;
    }

    &.triple-margin {
      margin: calc(3 * var(--nok-spacing-section-ends, components-base.$padding-base)) auto;
    }

    @at-root nok-popup-body &,
    &.condensed {
      margin: calc(.5 * var(--nok-spacing-section-ends, components-base.$padding-base)) auto;
      padding-right: calc(.5 * var(--#{components-base.$prefix}-nok-spacing-section-sides, (components-base.$padding-base * 2)));
      padding-left: calc(.5 * var(--#{components-base.$prefix}-nok-spacing-section-sides, (components-base.$padding-base * 2)));
    }

    &--stretched {
      align-self: stretch;
    }

    &--full-width {
      --section-max-width: 100%;
    }

    &.nok-section-narrow {
      @each $breakpoint, $section-max-width in components-base.$section-max-widths-narrow {
        @include components-base.media-breakpoint-up($breakpoint, components-base.$grid-breakpoints) {
          max-width: $section-max-width;
        }
      }
    }

    @each $breakpoint, $section-max-width in components-base.$section-max-widths {
      @include components-base.media-breakpoint-up($breakpoint, components-base.$grid-breakpoints) {
        @at-root :root {
          --section-max-width: #{$section-max-width};
        }
        & {
          width: 100%;
          max-width: var(--section-max-width, $section-max-width);
        }
      }
    }

  }

  @include components-base.media-breakpoint-up(components-base.$mobile-breakpoint) {
    &.pull-down {
      --pull-amount: calc(1 * var(--nok-spacing-section-ends, 0));

      .pullee {
        position: relative;
        overflow: visible;

        > * {
          position: absolute;
          right: 0;
          top: 0;
          left: 0;
          height: calc(100% + (2 * var(--pull-amount)));
        }
      }

      .pull-down-correction {
        //margin-bottom: calc(2 * var(--nok-spacing-section-ends, 0));
      }

      + nok-section > [class^="nok-section__inner"],
      + .nok-section > [class^="nok-section__inner"] {
        padding-top: calc(var(--nok-spacing-section-ends, 0));
      }
    }
  }

  &.collapse {
    &-bottom {
      .nok-section__inner {
        margin-bottom: 0 !important;
      }
    }
    &-top {
      .nok-section__inner {
        margin-top: 0 !important;
      }
    }
  }
  /* Cosmetics */

  &.gradient-background {
    background-image: radial-gradient(circle at 100% 50%, rgba(var(--nok-darkerblue-rgb), 0.1) 0%, transparent 100%);
  }

  @include components-base.media-breakpoint-up(components-base.$mobile-breakpoint) {
    @include components-base.domready {
      &.circle {
        //only show circle if next section has become visible (and we're animating them using aos) or is last section before footer.
        /*
        &:not(.nok-aos),
        &:has(+ nok-page-footer),
        &.nok-aos:has(+ nok-section.nok-aos[data-visible="true"]) {
          &::after {
            content: "";
          }
        }*/
        transform: translateY(0); //creates a context for the circle
        &::after {
          content: "";
          position: fixed;
          top: var(--circle-top, calc(2 * var(--nok-spacing-section-ends, 1.5rem)));
          left: var(--circle-offset, 75%);
          transform: translateX(-50%);
          z-index: -1;
          opacity: 1;
          aspect-ratio: 2 / 1;
          border-radius: 200cqi 200cqi 0 0;
          background: white;
          bottom: 0;
          background: var(--circle-background-color, oklch(from var(--nok-darkblue) calc(l * .5) c h / 10%));
          @media (prefers-color-scheme: dark) {
            background: var(--circle-background-color, oklch(from var(--nok-darkblue) calc(l * 2) c h / 10%));
          }
        }
        &.nok-aos {
          &[data-visible="false"] {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  //connection-line between "linked" sections
  &.linked:has(+ &.linked) {
    position: relative;

    &::after {
      content: "";
      width: 2px;
      height: calc(2 * var(--nok-spacing-section-ends, 1.5rem));
      background: oklch(from var(--bg-color--contrast, --nok-darkerblue) l c h / 30%);
      display: block;
      position: absolute;
      bottom: calc(-1 * var(--nok-spacing-section-ends, 1.5rem));
      z-index: -1;
      @include components-base.transition-properties {
        opacity: 0;
      }
    }
  }
  /* Sliding down connection line when using AOS */
  &.linked.nok-aos:has(+ &[data-visible="true"]) {
    &::after {
      opacity: 0;
      @include components-base.transition-properties {
        animation: slide--down (5.5 * components-base.$animation-duration) ease-out forwards;
      }
    }
  }
}

.nok-section,
nok-section {
@include nok-section;
}

