@use "sass:map";
@use "shared" as components-base;

@mixin nok-section {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__inner {
    width: 100%;
    padding-right: var(--#{components-base.$prefix}-padding-section-sides, (components-base.$padding-base * 2));
    padding-left: var(--#{components-base.$prefix}-padding-section-sides, (components-base.$padding-base * 2));
    margin: var(--nok-spacing-section-ends, components-base.$padding-base) auto;

    &.double-margin {
      margin: calc(2 * var(--nok-spacing-section-ends, components-base.$padding-base)) auto;
    }
    &.triple-margin {
      margin: calc(3 * var(--nok-spacing-section-ends, components-base.$padding-base)) auto;
    }

    &--stretched {
      align-self: stretch;
    }
    &--full-width {
      --section-max-width: 100%;
    }

    @each $breakpoint, $section-max-width in components-base.$section-max-widths {
      @include components-base.media-breakpoint-up($breakpoint, components-base.$grid-breakpoints) {
        @at-root :root {
          --section-max-width: #{$section-max-width};
        }
        & {
          width: 100%;
          max-width: var(--section-max-width, $section-max-width);
        }
      }
    }

  }


  &.pull-down {
    margin-bottom: calc(-1 * var(--nok-spacing-section-ends, 0));
    .pull-down-correction {
      margin-bottom: calc(2 * var(--nok-spacing-section-ends, 0));
    }
    + nok-section > .nok-section__inner,
    + nok-section > .nok-section__inner--unpadded,
    + nok-section > .nok-section__inner--collapsed,
    + nok-section > .nok-section__inner--full-width,
    + nok-section > .nok-section__inner--stretched {
        padding-top: calc(var(--nok-spacing-section-ends, 0));
    }
  }
  &.collapse-bottom {
    .nok-section__inner {
      margin-bottom: 0 !important;
    }
  }
  /* Cosmetics */

  &.gradient-background {
    background-image: radial-gradient(circle at 100% 50%, rgba(var(--nok-darkerblue-rgb), 0.1) 0%, transparent 100%);
  }

  &.circle {
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      background: var(--circle-background-color);
      clip-path: circle(50%);
      aspect-ratio: 1;
      position: absolute;
      top: var(--nok-spacing-section-ends, 1.5rem);
      right: -10%;
      bottom: -50%;
      z-index: -1;
      min-height: 90vh;
    }
    &.circle-right {
      &:after {
        right: -10%;
        left: auto;
      }
    }
    &.circle-left {
      &:after {
        left: -10%;
        right: auto;
      }
    }
  }
}

.nok-section,
nok-section {
  @include nok-section;
}

