@use "sass:map";
@use "shared" as components-base;

@mixin nok-section {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__inner {
    width: 100%;
    padding-right: var(--#{components-base.$prefix}-padding-section-sides, (components-base.$padding-base * 2));
    padding-left: var(--#{components-base.$prefix}-padding-section-sides, (components-base.$padding-base * 2));
    margin: var(--nok-spacing-section-ends, components-base.$padding-base) auto;

    &--stretched {
      align-self: stretch;
    }
    &--unpadded {
      padding-left: 0;
      padding-right: 0;
    }
    &--collapsed {
      margin: 0 auto;
      &-top {
        margin-top: 0;
      }
      &-bottom {
        margin-bottom: 0;
      }
    }
    &--full-width {
      --section-max-width: 100%;
    }

    @each $breakpoint, $section-max-width in components-base.$section-max-widths {
      @include components-base.media-breakpoint-up($breakpoint, components-base.$grid-breakpoints) {
        @at-root :root {
          --section-max-width: #{$section-max-width};
        }
        & {
          width: 100%;
          max-width: var(--section-max-width, $section-max-width);
        }
      }
    }

  }


  &.pull-down {
    margin-bottom: calc(-1 * var(--nok-spacing-section-ends, 0));
    .pull-down-correction {
      margin-bottom: calc(2 * var(--nok-spacing-section-ends, 0));
    }
    + nok-section > .nok-section__inner {
        padding-top: calc(var(--nok-spacing-section-ends, 0));
    }
  }
  &.collapse-bottom {
    .nok-section__inner {
      margin-bottom: 0 !important;
    }
  }
  &.gradient-background {
    background-image: radial-gradient(circle at 100% 50%, rgba(var(--nok-darkerblue-rgb), 0.1) 0%, transparent 100%);
  }
}

.nok-section,
nok-section {
  @include nok-section;
}

