@use "sass:map";
@use "shared" as components-base;
@use "nok-sections";
@use "nok-navigation-top-row";
@use "nok-navigation-menu-bar";
@use "nok-navigation-drawer";

//Top navigation menu, used throughout the site

nok-navigation-desktop, nok-navigation-mobile {
  display: contents;
}

nok-top-navigation {
  --z-base: 0;
  $switch_point: xl;

  $dur_in: 750ms;
  $dur_out: 550ms;
  $inter-delay: 100ms;

  --animation-easing-in: cubic-bezier(.07,1.01,.36,1);
  --animation-easing-out: cubic-bezier(.85, 0, .15, 1);
  --animation-duration--in: #{$dur_in};
  --animation-duration--out: #{$dur_out};

  font-size: 1.2rem;
  @include components-base.rfs(1.2rem, font-size);

  @include components-base.media-breakpoint-up($switch_point) {
    nok-navigation-mobile {
      display: none !important;
    }
    & {
      position: sticky !important;
      top: 0;
      z-index: components-base.$z-stack-top;
    }
  }

  @include components-base.media-breakpoint-down($switch_point) {
    nok-navigation-desktop {
      display: none !important;
    }
    & {
      position: fixed !important;
      top: 0;
      bottom: 0;
      justify-content: flex-start;
      z-index: components-base.$z-stack-top;
      pointer-events: none;
    }
  }

  .nok-star-ratings {
    display: inline-flex;
    flex-direction: row;
    gap: .5ex;
    margin-right: 1ex;
  }

  .nok-button {
    flex-shrink: 1;
    flex-grow: 0;

    &.nok-nav-menu-toggler.nok-button-menu {
      svg {
        transform: rotate(0deg);
        @include components-base.transition-properties {
          transition: transform var(--animation-duration--in) cubic-bezier(0.16, 1, 0.3, 1);
        }
        path:last-of-type,
        .closed {
          display: none;
        }
      }
    }
  }

  /* Open states */

  &.sidebar-open, &.popup-open {
    touch-action: none;

    nok-screen-mask {
      @media (prefers-reduced-transparency) {
        display: none;
      }
      backdrop-filter: blur(5px);
      --bg-alpha-value: 0.75;
      pointer-events: all;
    }
  }
  &.popup-open {
    nok-screen-mask {
      --z-base: #{components-base.$z-stack-top - 1};
    }
  }

  &.sidebar-open {
    .nok-nav-menu-toggler.nok-button-menu {
      svg {
        transform: rotate(-180deg);
        path:first-of-type,
        .open {
          display: none;
        }
        path:last-of-type,
        .closed {
          display: inline;
        }
      }
    }

  }

  @at-root :root {
    --nok-top-navigation-height: 4rem;
    @include components-base.media-breakpoint-down($switch_point) {
      --nok-top-navigation-height: 6rem;
    }
  }

  nok-navigation-mobile {
    nok-navigation {
      &-top-row,
      &-drawer {
        pointer-events: all;
      }
    }

    #{components-base.$prefix}-logo {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 0;
      svg {
        align-self: center;
        @include components-base.rfs(3rem, height);
        width: auto;
        max-width: 100%;
        padding: 0 1px;
      }
    }

  }
}