@use "shared" as components-base;
@use "sass:list";

$bmi_value_classes: (
  'bmi-ondergewicht',  // index 0
  'bmi-normaal',       // index 1
  'bmi-overgewicht',   // index 2
  'bmi-obesitas-1',      // index 3
  'bmi-obesitas-2',      // index 4
  'bmi-obesitas-3'       // index 5
);

nok-bmi-calculator {

  --color-1: #c8b726;
  --color-2: #388a3c;
  --color-3: color-mix(in srgb, #388a3c 25%, #FF9800);
  --color-4: #FF9800;
  --color-5: color-mix(in srgb, #FF9800, #D32F2F);
  --color-6: #D32F2F;

  $all_selectors: '';
  @each $bmi_value_class in $bmi_value_classes {
    @if $all_selectors != '' {
      $all_selectors: $all_selectors + ', ';
    }

    $selectors: '&.#{$bmi_value_class} .show-not-#{$bmi_value_class}, ' +
                '&:not(.#{$bmi_value_class}) .show-#{$bmi_value_class}, ' +
                '&.near-upper-boundary.#{$bmi_value_class} .show-not-near-upper-boundary-for-#{$bmi_value_class}, ' +
                '&:not(.near-upper-boundary.#{$bmi_value_class}) .show-near-upper-boundary-for-#{$bmi_value_class}, ' +
                '&.near-lower-boundary.#{$bmi_value_class} .show-not-near-lower-boundary-for-#{$bmi_value_class}, ' +
                '&:not(.near-lower-boundary.#{$bmi_value_class}) .show-near-lower-boundary-for-#{$bmi_value_class}, ' +
                '&:not(.near-upper-boundary) .show-near-upper-boundary';

    $all_selectors: $all_selectors + $selectors;
  }

  #{$all_selectors} {
    display: none;
  }

  .calculator-input label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    /********** Range Input Styles **********/

    input[type="range"] {
      /*
      appearance: none;
      background: transparent;
      cursor: pointer;
      width: 100%;
      flex-basis: 100%;

      &:focus {
        outline: none;
      }

      @mixin track() {
        background-color: #053a5f;
        border-radius: 0.5rem;
        height: 0.5rem;
      }
      @mixin thumb() {
        @include components-base.nok-border-radius($overflowHidden: false);
        box-shadow: 4px 3px 0 0 hsl(0deg 0% 0% / 7%);
        background-color: #FFF;
        height: 2rem;
        width: 1rem;
      }
      @mixin focusThumb() {
        background-color: #FFF8;
        @include components-base.nok-focus-ring;
      }

      //Chrome, Safari, Opera and Edge Chromium track
      &::-webkit-slider-runnable-track {
        @include track();
      }
      &#BMISlider::-webkit-slider-runnable-track {
        background-image: var(--bmi-gradient);
      }

      //Firefox track
      &::-moz-range-track {
        @include track();
      }
      &#BMISlider::-moz-range-track {
        background-image: var(--bmi-gradient);
      }

      //Chrome, Safari, Opera and Edge Chromium thumb
      &::-webkit-slider-thumb {
        appearance: none;
        margin-top: -12px;
        @include thumb();
      }

      &:focus::-webkit-slider-thumb {
        @include focusThumb();
      }

      //Firefox thumb
      &::-moz-range-thumb {
        border: none;
        border-radius: 0;
        @include thumb();
      }

      &:focus::-moz-range-thumb {
        @include focusThumb();
      }
      //*/
    }
    //*/


  }
}