@use "shared" as components-base;

// Screen Mask - Used to 'dim' the background when a modal/menu is open

nok-screen-mask {
  z-index: var(--z-base);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: fixed;
  z-index: 1;
  pointer-events: none;
  --bg-alpha-value: 0;
  inset: 0;
  @media (prefers-reduced-transparency) {
    display: none;
  }
  @include components-base.transition-properties(opacity) {
    transition:
      background #{components-base.$animation-duration} ease-in-out,
      backdrop-filter #{components-base.$animation-duration} ease-in-out;

  }
}