@use "shared" as components-base;

//todo: move custom element definitions to separate css?
nok-post-part {
  display: block;
}

article {
  @include components-base.media-breakpoint-up(components-base.$mobile-breakpoint) {
    .narrow-paragraphs,
    &.narrow-paragraphs {
      padding-inline: var(--nok-spacing-section-ends);
    }
  }
  .margin-paragraphs,
  &.margin-paragraphs {
    > p, > nok-post-part, > ul, > ol, > div {
      margin-bottom: 1em;
    }
  }
  //Overrides
  @at-root body.nok-single-ervaringen nok-section article h2.wp-block-heading.nok-fs-6,
  body.nok-single-kennisbank nok-section article h2.wp-block-heading.nok-fs-6 {
    margin-top: var(--nok-space-fluid-md);
    @include components-base.rfs(components-base.$h3-font-size, --nok-font-size-6);
  }
}