@use "sass:map";
@use "shared" as components-base;

// Buttons

button,
.gform_button,
.nok-button {
  --flex-gap: calc(var(--#{components-base.$prefix}-padding-base, 1.5rem) / 2);
  --bg-alpha-value: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: var(--flex-gap) calc(var(--flex-gap) * 2);
  gap: var(--flex-gap, .75rem);

  white-space: nowrap;
  overflow: hidden;

  @include components-base.nok-heading-font;
  font-weight: 500;
  font-size: var(--#{components-base.$prefix}-font-size-buttons, 1.25rem);
  line-height: 1.5;
  text-decoration: none;

  background-color: var(--bg-color, inherit);
  color: var(--bg-color--contrast, var(--text-color, inherit));
  @include components-base.nok-border-radius;
  &:not(.no-shadow) {
    @include components-base.nok-btn-shadow-border;
  }
  border: 0 solid #8880;
  outline: 0 none;

  cursor: pointer;
  user-select: none;
  touch-action: manipulation; //prevents double tap zoom on mobile

  &:hover, &:focus, &:active, &.active, &:focus-visible {
    border-color: #8882;
  }

  &:hover {
    --text-alpha-value: 1;
    color: var(--bg-color--contrast, inherit);
    background-color: var(--bg-color--hover, inherit);
  }

  &:focus {
    outline: 2px solid hsl(var(--bg-color-hsl, 0deg 100% 50%) / 0.25);
  }

  &:focus-visible { // focus state by other input method than mouse
    @include components-base.nok-focus-ring;
  }

  &:active,
  &.active {
    background-color: var(--bg-color--active, inherit);
  }

  &:disabled,
  &.disabled {
    --text-alpha-value: 0.5;
    opacity: 0.3;
    pointer-events: none;
    background: #EEE;
  }

  &--small {
    --flex-gap: calc(var(--#{components-base.$prefix}-padding-base, 1.5rem) / 4);
    font-size: calc(var(--#{components-base.$prefix}-font-size-buttons, 1.25rem) * .8);
  }

  &-menu {
    --bg-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--bg-size);
    vertical-align: middle;
    aspect-ratio: 1 / 1;
    position: relative;
    svg {
      position: absolute;
      width: var(--bg-size);
      height: var(--bg-size);
      .closed {
        display: none;
      }
    }
  }

  &-group {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: var(--grid-gap, var(--#{components-base.$prefix}-padding-base, var(--#{components-base.$prefix}-global-grid-gap, 1.5rem)));
    align-items: center;
    justify-items: center;

    font-size: var(--#{components-base.$prefix}-font-size-buttons, 1.25rem);

    > .fill-group-column {
      width: 100%;
    }
  }
}