@use "sass:map";
@use "shared" as components-base;

//Top bar that hugs the top of the screen, with secondary menu items (ratings, language, etc)

nok-navigation-top-row {

  .nok-navigation-top-row__inner {
    font-size: 1rem;
    @include components-base.nok-text-font;
    font-weight: 300;
    @include components-base.rfs(1rem, font-size);
    z-index: calc(var(--z-base, 1) + 1);

    @include components-base.inline-flex-menu(var(--#{components-base.$prefix}-padding-base));

    overflow: hidden;
    padding-bottom: var(--nok-top-navigation-height, 4rem);

    a {
      text-decoration: none;

      &:hover {
        color: var(--nok-lightblue);
      }
    }
  }

  @at-root  nok-navigation-mobile & {
    --grid-gap: var(--nok-space-xs);

    display: flex;

    align-items: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: var(--nok-space-fluid-md) var(--#{components-base.$prefix}-nok-spacing-section-sides);
    padding-top: max(1rem, env(safe-area-inset-top));
    gap: var(--grid-gap, var(--#{components-base.$prefix}-global-grid-gap));
  }

}