@use "shared" as components-base;

//Accessibility Helper - Used to provide a floating menu for accessibility options (mainly text-size)

nok-accessibility-helper {
  display: flex;
  position: absolute;
  font-size: 16px; //fixed, don't respond to font-size changes
  z-index: components-base.$z-stack-top;
  top: 0;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: var(--section-max-width, calc(100vw - (var(--nok-padding-section-sides, 1.5rem) * 2)));
  padding: 32px 32px 0 32px;
  transform: translate3d(0%, -105%, 0);
  @include components-base.media-breakpoint-down(md) {
    width: 100%;
  }

  --flex-gap: 16px;

  @include components-base.nok-border-radius('large', 'bottom');
  gap: var(--flex-gap);
  --nok-default-border-radius: 16px;

  --nok-default-border-radius--large: 24px;

  h5 {
    font-size: 20px;
    margin: 0;
  }

  .nok-button {
    font-size: inherit !important;
    align-self: stretch;
    flex-basis: 100%;
    flex-shrink: 1;
    padding: 10px;
    --nok-default-border-radius: 8px;
    --flex-gap: 8px !important;
    aspect-ratio: 1;
    @at-root body.larger-font &.font-increase {
      background: var(--nok-lightblue);
    }
    @at-root body.smaller-font &.font-decrease {
      background: var(--nok-lightblue);
    }
  }

  &::after {
    display: flex;
    width: 75%;
    height: 5px;
    margin-bottom: 8px;
    content: "";
    cursor: grab;
    border-radius: 5px;
    background: #8885;
  }

  &:active {
    &::after {
      cursor: grabbing;
    }
  }
  @include components-base.transition-properties {
    transition: transform var(--animation-duration--out) var(--animation-easing-out), box-shadow var(--animation-duration--out) var(--animation-easing-out);
  }

  &.open {
    user-select: none;
    transform: translate3d(0%, 0%, 0);
    pointer-events: all;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(0, 0, 0, 0.1);

    touch-action: none;
    -webkit-touch-callout: none;
    @include components-base.transition-properties {
      transition-timing-function: var(--animation-easing-in);
      transition-duration: var(--animation-duration--in);
    }
  }
}