@use "sass:map";
@use "sass:math";
@use "shared" as components-base;

// Square block, for use in carousels/sliders, or standalone use

nok-square-block {
  
  //--text-alpha-value: 0.8;
  --icon-color: var(--#{components-base.$prefix}-yellow);
  ////--text-color: hsla(var(--#{components-base.$prefix}-white-hsl) / var(--global-color-alpha, var(--text-alpha-value, 1)));
  //--text-color--heading: hsla(var(--#{components-base.$prefix}-white-hsl) / 1);
  --text-color--link: hsla(var(--#{components-base.$prefix}-white-hsl) / 1);
  --text-color--link--hover: var(--#{components-base.$prefix}-yellow);
  --text-color--link-icon: var(--#{components-base.$prefix}-lightblue);
  --text-color--link-icon--hover: var(--#{components-base.$prefix}-yellow);
  --padding: #{map-get(components-base.$padding-base-values, 2)};
  //--background-color: var(--#{components-base.$prefix}-darkblue);
  position: relative;
  display: grid;
  @include components-base.nok-grid-gap;

  //grid-template-rows: auto auto 1fr auto;
  grid-template-rows: auto;
  container-type: inline-size;
  align-content: start;

  @include components-base.media-breakpoint-up(components-base.$mobile-breakpoint) {
    &.layout-left {
      grid-template-columns: 2fr 3fr;
    }
    &.layout-balanced {
      grid-template-columns: 1fr 1fr;
    }
  }
  &.horizontal {
    align-items: stretch;
    justify-items: start;
    .nok-square-block {
      &__icon {
        grid-column: 1;
        grid-row: 2;
        @include components-base.media-breakpoint-down(components-base.$mobile-breakpoint) {
          justify-self: center;
        }
      }

      &__heading {
        grid-column: 1;
        grid-row: 1;
      }

      &__icon {
        svg {
          width: 5em;
          height: 5em;
        }
      }
    }
  }


  @include components-base.nok-border-radius('large');
  //line-height: var(--#{components-base.$prefix}-default-line-height, 1.25);

  padding: var(--padding, #{map-get(components-base.$padding-base-values, 2)});

  //background-color: var(--background-color);

  &[data-shadow="true"] {
    @include components-base.nok-subtle-shadow;
  }

  // Modifier: align link at bottom (for cards with variable content height)
  &.link-bottom {
    grid-template-rows: auto auto 1fr auto;
  }

  > * {
    margin: 0;
  }

  .nok-square-block {

    &__icon {
      color: var(--icon-color);
      display: flex;
      svg {
        width: 3em;
        height: 3em;
        //aspect-ratio: 1;
      }
    }

    &__heading {
      color: var(--text-color--heading);
      font-weight: 500;
      &_image {
        margin: calc(-1 * var(--padding)) calc(-1 * var(--padding)) 0;
      }
    }
    &__banner {
      margin: calc(-1 * var(--padding)) calc(-1 * var(--padding)) 0;
      height: var(--padding);
      border-radius: 0;
      padding: 0 calc(var(--padding) / 2);
    }

    &__text {
      color: var(--text-color);
      font-size: 1.1rem;
      p {
        margin: 0;
      }
      &:last-child {
        grid-row: span 2;
      }

      // Icon table layout for aligned icon + text rows
      &.nok-icon-table {
        border-collapse: collapse;

        td {
          padding: 0.125rem 0;
          vertical-align: middle;

          &:first-child {
            padding-right: 0.5rem;
            width: 1.25em;
            text-align: center;

            svg {
              width: 1em;
              height: 1em;
              opacity: 0.6;
            }
          }
        }
      }
    }

    &__link {
      display: grid;
      grid-template-columns: auto 1fr;
      justify-content: start;
      align-items: center;
      justify-items: start;
      cursor: pointer;
      gap: calc(var(--#{components-base.$prefix}-padding-base, 1.5rem) / 2);

      height: 2rem;

      --text-alpha-value: 0.8;
      color: var(--text-color--link);

      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1rem;


      svg {
        color: var(--text-color--link-icon);
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
      }
      &:hover {
        --text-color--link: var(--text-color--link--hover);
        --text-color--link-icon: var(--text-color--link-icon--hover);
      }
    }

    &__thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      aspect-ratio: 1;
      flex-shrink: 0;
      height: 100px;
      width: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
      @include components-base.media-breakpoint-down(components-base.$mobile-breakpoint) {
        display: none;
      }
    }

    // Featured image container with optional badge overlay support
    &__image {
      position: relative;
      margin: calc(-1 * var(--padding));
      margin-bottom: 0;
      overflow: hidden;
      @include components-base.nok-border-radius('large');
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      img {
        display: block;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center;
      }

      // Placeholder when no image available
      &--placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 16/9;
        background: linear-gradient(135deg, var(--#{components-base.$prefix}-lightblue) 0%, var(--#{components-base.$prefix}-darkerblue) 100%);

        svg {
          width: 3rem;
          height: 3rem;
          opacity: 0.4;
          color: var(--#{components-base.$prefix}-white);
        }
      }
    }

    // Badge container positioned over image
    &__badges {
      position: absolute;
      bottom: #{map-get(components-base.$padding-base-values, 1)};
      left: #{map-get(components-base.$padding-base-values, 1)};
      display: flex;
      flex-wrap: wrap;
      gap: 0.375rem;
      max-width: calc(100% - var(--padding));
    }

    // Footer area with subtle top border
    &__footer {
      display: flex;
      margin-top: auto;
      padding-top: #{map-get(components-base.$padding-base-values, 1)};
      border-top: 1px solid currentColor;
      opacity: 0.6;

      svg {
        width: 1em;
        height: 1em;
      }
    }

  }
}

// Badge component - small rounded labels for categories, dates, tags
.nok-badge {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.625rem;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.4;
  @include components-base.nok-border-radius;
  @include components-base.nok-heading-font;
  white-space: nowrap;
}

.nok-square-block {
  @extend nok-square-block;
}