@import "nok-variables";

@mixin nok-font {
  font-family: "Realist", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizelegibility;
}

@mixin nok-btn-shadow-border {
  box-shadow: 0 0 0 0 hsla(0 0 0 / 0);
  &:hover, &:focus {
    box-shadow: 0 0.4rem 0.1rem -0.3rem hsla(0 0 50 / 0.15);
  }
}

@mixin nok-border-radius {
  border-radius: var(--nok25-default-border-radius, 0.4rem);
}
@mixin nok-border-radius--large {
  border-radius: var(--nok25-default-border-radius--large, 1rem)
}

@mixin nok-focus-ring {
  outline: 0 none;
  box-shadow: 0 0 0 2px var(--#{$prefix}-focus-ring, inherit);
}

@mixin nok-inline-link {
  --active-color: #000;
  --hover-transition-time: 0.15s;
  --underline-height: 0.2em;
  //noinspection CssInvalidFunction
  --gradient: linear-gradient(
          transparent 0%,
          transparent calc(50% - var(--underline-height)),
          var(--underline-color) calc(50% - var(--underline-height)),
          var(--underline-color) 150%
  );
  -webkit-tap-highlight-color: transparent;

  text-decoration: none;
  padding: calc(2 * var(--underline-height)) 0;

  background-image: var(--gradient);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 0 0;

  transition: background-position var(--hover-transition-time) ease-out;

  &:hover {
    background-position: 0 calc(-1 * var(--underline-height));
  }
  &:active,
  &:hover:focus:not(:focus-visible) {
    color: var(--underline-color--active);
    background-position: 0 100%;
  }

  &:focus-visible { // focus state by other input method than mouse
    @include nok-border-radius;
    @include nok-focus-ring;
  }
}

@mixin nok-scrollbar-thin(
  $scrollbarHeight: 6px,
  $scrollbarHandle: var(--nok25-white),
  $scrollbarHandle_active: var(--nok25-white--lighter),
  $scrollbarTrack: hsla(var(--nok25-white--hsl) / 0.25)
) {
  & {
    --scrollbar-height: #{$scrollbarHeight};
    --scrollbar-handle: #{$scrollbarHandle};
    --scrollbar-handle--active: #{$scrollbarHandle_active};
    --scrollbar-track: #{$scrollbarTrack};
  }
  &::-webkit-scrollbar {
    height: var(--scrollbar-height, 6px);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track, #0008);
    border-radius: $scrollbarHeight;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-handle, #FFFE);
    border: 1px solid var(--scrollbar-handle, #FFFE);
    border-radius: $scrollbarHeight;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-handle--active, #FFFF);
  }
}


@mixin make-section() {
  width: 100%;
  padding-right: var(--nok25-padding-base, $padding-base);
  padding-left: var(--nok25-padding-base, $padding-base);
  margin-right: auto;
  margin-left: auto;
}

// Maximum breakpoint width.
// The maximum value is reduced by 0.02px to work around the limitations of
// `min-` and `max-` prefixes and viewports with fractional widths.
// See https://www.w3.org/TR/mediaqueries-4/#mq-min-max
// Uses 0.02px rather than 0.01px to work around a current rounding bug in Safari.
// See https://bugs.webkit.org/show_bug.cgi?id=178261
//
//    >> breakpoint-max(md, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px))
//    767.98px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $max: map-get($breakpoints, $name);
  @return if($max and $max > 0, $max - .02, null);
}

// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash in front.
// Useful for making responsive utilities.
//
//    >> breakpoint-infix(xs, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px))
//    ""  (Returns a blank string)
//    >> breakpoint-infix(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px))
//    "-sm"
@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
//    >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px))
//    576px
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media that spans multiple breakpoint widths.
// Makes the @content apply between the min and max breakpoints
@mixin media-breakpoint-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($lower, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
}

// Media between the breakpoint's minimum and maximum widths.
// No minimum for the smallest breakpoint, and no maximum for the largest one.
// Makes the @content apply only to the given breakpoint, not viewports any wider or narrower.
@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  $min:  breakpoint-min($name, $breakpoints);
  $next: breakpoint-next($name, $breakpoints);
  $max:  breakpoint-max($next, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($name, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($next, $breakpoints) {
      @content;
    }
  }
}