@use "sass:math";
@use "nok-utilities";

$prefix : 'nok25';
$padding-base: 1.5rem;
$default-border-radius: math.div(math.round((math.div($padding-base, 4)) * 10), 10);
$default-border-radius--large: math.round($default-border-radius * 2);
$heading-font-family: "Realist", Arial, Helvetica, sans-serif;
$heading-font-size-adjust: 0.525; //Realist as relative to Arial
$text-font-family: "Inter", Arial, Helvetica, sans-serif;
$text-font-size-adjust: 0.514; //Inter as relative to Arial
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$default-line-height: 1.5;
$default-heading-line-height: 1.25;

$font-size-base:              1rem !default;
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;
$font-size-buttons:           1.25rem;

$z-stack-top: 100;

$exposed-variables: (
    "body-font-size": $font-size-base,
    "body-font-size-adjust": $text-font-size-adjust,
    "heading-font-family": $heading-font-family,
    "heading-font-size-adjust": $heading-font-size-adjust,
    "text-font-family": $text-font-family,
    "text-font-size-adjust": $text-font-size-adjust,
    "default-line-height": $default-line-height,
    "default-heading-line-height": $default-heading-line-height,
    "padding-base": $padding-base,
    "global-grid-gap": ($padding-base / 2),
    "padding-section-sides": min(6vw, $padding-base * 3),
    "default-border-radius": $default-border-radius,
    "default-border-radius--large": $default-border-radius--large,
    "font-size-buttons" : $font-size-buttons,
    "font-size-1": $h6-font-size,
    "font-size-2": $h5-font-size,
    "font-size-3": $h4-font-size,
    "font-size-4": $h3-font-size,
    "font-size-5": $h2-font-size,
    "font-size-6": $h1-font-size,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px
) !default;
@include nok-utilities.assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include nok-utilities.assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$section-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    xxxl: 1572px
) !default;
@include nok-utilities.assert-ascending($section-max-widths, "$section-max-widths");
