@use "sass:map";
@import "nok-variables";
@import "nok-mixins";

//todo: move to generic reset?
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
//BEM example

.opinions-box {
  margin: 0 0 8px 0;
  text-align: center;

  &__view-more {
    text-decoration: underline;
  }

  &__text-input {
    border: 1px solid #ccc;
  }

  &--is-inactive {
    color: gray;
  }
}*/

/**
 * hyperlink
 */
.#{$prefix}-hyperlink:not(.#{$prefix}-button) {
  color: var(--text-color, var(--text-color--contrast, inherit));
  --underline-color: var(--text-color, var(--text-color--contrast, inherit));
  --underline-color--active: var(--text-color--contrast, inherit);

  @include nok-inline-link;

  @at-root p & {
    color: var(--nok25-lightblue, inherit);
    --underline-color: var(--nok25-lightblue, inherit);
    --underline-color--active: var(--nok25-lightblue--contrast, inherit);
  }

}

/**
 * button
 */
.#{$prefix}-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: calc(var(--nok25-padding-base, 1.5rem) / 2) var(--nok25-padding-base, 1.5rem);

  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
  text-decoration: none;

  color: var(--text-color, var(--text-color--contrast, inherit));
  @include nok-border-radius;
  @include nok-btn-shadow-border;
  border: 1px solid #8885;
  outline: 0 none;

  cursor: pointer;
  user-select: none;

  &:hover, &:focus, &:active, &.active, &:focus-visible {
    border-color: #8882;
  }

  &:hover {
    color: var(--text-color-button--hover, var(--text-color, var(--text-color--contrast, inherit)));
    background-color: var(--bg-color--hover, inherit);
  }

  &:focus {
    outline: 2px solid hsl(var(--bg-color-hsl, 0 0 0) / 0.25);
  }

  &:focus-visible { // focus state by other input method than mouse
    @include nok-focus-ring;
  }

  &:active,
  &.active {
    background-color: var(--bg-color--active, inherit);
  }

  &:disabled,
  &.disabled {
    --local-color-alpha: 0.65;
    opacity: 0.8;
    color: var(--text-color-button, var(--text-color--contrast, inherit));
    pointer-events: none;
  }
}

@import "./nok-elements/nok25-square-block.scss";

.#{$prefix}-block-group {
  @include nok-font;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__inner {
    --grid-gap: var(--nok25-padding-base, var(--global-grid-gap, 1.5rem));
    --grid-columns: 3;
    --grid-column-width: calc(
        (100% - (var(--grid-gap, 1) * (var(--grid-columns, 1) - 1))) / var(--grid-columns, 1)
    );
    padding: calc(var(--grid-gap, var(--global-grid-gap)) * 2) 0;
    max-width: 1320px;
    display: grid;
    gap: var(--grid-gap, var(--global-grid-gap));
    grid-template-columns: repeat(var(--grid-columns, 1), 1fr);
    grid-template-rows: 1fr;
    align-items: stretch;
  }

  &__heading {
    grid-column: 1;
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__description {
    grid-column: span 2;
    font-size: 1rem;
    font-weight: 400;
  }

  &__scroller {
    grid-column: 1 / -1;
    overflow-x: scroll;
    padding-bottom: calc(var(--grid-gap, 1.5rem) * 2);
    &.#{$prefix}-draggable {
      @include nok-scrollbar-thin(10px);

      &[data-scroll-snapping="true"] {

        scroll-snap-type: both mandatory;
        scroll-snap-stop: normal;
      }

      will-change: scroll-position; /*seems to bump performance in firefox ever so slightly*/
      overflow-anchor: none !important;
    }
  }

  &__scroller {
    &.#{$prefix}-draggable[data-scroll-snapping="true"] .#{$prefix}-draggable-slider-item {
      scroll-snap-align: center;
    }
    &.#{$prefix}-draggable .#{$prefix}-draggable-slider-item {
      > *:not(a),
      a::after {
        pointer-events: none;
      }
    }
  }

  &__blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--grid-gap, var(--global-grid-gap));
    > * {
      flex-basis: var(--grid-column-width);
      flex-shrink: 0;
    }
  }
}
