@use "sass:map";
@use "sass:color";
@import "nok-variables";

$nok-base-colors: (
    'lightblue':     #00b0e4,
	'darkblue':      #14477c,
	'darkerblue':    #001c4d,
	'darkestblue':   #00132f,
	'yellow':        #FFC425,
	'darkyellow':    #eab10d,
	'paleyellow':    #D5D59D,
	'green':         #54b085,
	'greenyellow':   #CCCC33,
	'greenblue':     #23afbf,
	'lightgreenblue':#93e1f4,
	'body_bg':       #F1F5F6,
);

:root {
  @each $color, $value in $nok-base-colors {
    $sub_map: (
        $color : $value,
        $color+'--darker' :  desaturate(darken($value, 10%), 20%),
        $color+'--lighter' :  saturate(lighten($value, 10%), 20%)
    );
    @each $color, $value in $sub_map {
      --#{$prefix}-#{$color} :       #{$value};
      --#{$prefix}-#{$color}--h :    #{round(color.hue($value))};
      --#{$prefix}-#{$color}--s :    #{round(color.saturation($value))};
      --#{$prefix}-#{$color}--l :    #{round(color.lightness($value))};
      --#{$prefix}-#{$color}--hsl :  var(--#{$prefix}-#{$color}--h) var(--#{$prefix}-#{$color}--s) var(--#{$prefix}-#{$color}--l);
    }
  }
}

@media (prefers-color-scheme: dark) {
  // One Dark
  :root {
    --base00: #282c34;
    --base01: #353b45;
    --base02: #3e4451;
    --base03: #545862;
    --base04: #565c64;
    --base05: #abb2bf;
    --base06: #b6bdca;
    --base07: #d19a66;
    --base08: #e06c75;
    --base09: #d19a66;
    --base0A: #e5c07b;
    --base0B: #98c379;
    --base0C: #56b6c2;
    --base0D: #61afef;
    --base0E: #c678dd;
    --base0F: #be5046;
  }
}

@each $color, $value in $nok-base-colors {
  $sub_map: (
      $color : $value,
      $color+'--darker' :  desaturate(darken($value, 10%), 20%),
      $color+'--lighter' :  saturate(lighten($value, 10%), 20%)
  );
  @each $color, $value in $sub_map {
    .text-#{$color} {
      color: hsla(var(--#{$prefix}-#{$color}--h), var(--#{$prefix}-#{$color}--s), var(--#{$prefix}-#{$color}--l), var(--local-color-alpha, var(--global-color-alpha, 1)));
    }
    .text-decoration-#{$color} {
      text-decoration-color: hsla(var(--#{$prefix}-#{$color}--h), var(--#{$prefix}-#{$color}--s), var(--#{$prefix}-#{$color}--l), var(--local-color-alpha, var(--global-color-alpha, 1)));
    }
    .bg-#{$color} {
      background-color: hsla(var(--#{$prefix}-#{$color}--h), var(--#{$prefix}-#{$color}--s), var(--#{$prefix}-#{$color}--l), var(--local-color-alpha, var(--global-color-alpha, 1)));
    }
    .border-#{$color} {
      border-color: hsla(var(--#{$prefix}-#{$color}--h), var(--#{$prefix}-#{$color}--s), var(--#{$prefix}-#{$color}--l), var(--local-color-alpha, var(--global-color-alpha, 1)));
    }
    .input-#{$color} {
      accent-color: hsla(var(--#{$prefix}-#{$color}--h), var(--#{$prefix}-#{$color}--s), var(--#{$prefix}-#{$color}--l), var(--local-color-alpha, var(--global-color-alpha, 1)));
      caret-color: hsla(var(--#{$prefix}-#{$color}--h), var(--#{$prefix}-#{$color}--s), var(--#{$prefix}-#{$color}--l), var(--local-color-alpha, var(--global-color-alpha, 1)));
    }
  }
}