@use "sass:map";
@use "nok-variables";
@use "nok-mixins";
@use "nok-reboot";
@use "./nok-elements/nok25-sections.scss";
@use "nok-elements/nok25-sections--nav";
@use "nok-elements/nok25-sections--hero";
@use "./nok-elements/nok25-buttons.scss";
@use "./nok-elements/nok25-square-block.scss";
@use "nok-elements/nok25-sections--block-group";

//Todo: move to typography sheet

body {
  @include nok-mixins.nok-text-font;
}
@for $i from 1 through 6 {
  h#{$i} {
    @include nok-mixins.nok-font;
  }
}


/*
//BEM example

.opinions-box {
  margin: 0 0 8px 0;
  text-align: center;

  &__view-more {
    text-decoration: underline;
  }

  &__text-input {
    border: 1px solid #ccc;
  }

  &--is-inactive {
    color: gray;
  }
}*/

/**
 * hyperlink
 */
.#{nok-variables.$prefix}-hyperlink:not(.#{nok-variables.$prefix}-button) {
  color: var(--text-color, var(--text-color--contrast, inherit));
  --underline-color: var(--text-color, var(--text-color--contrast, inherit));
  --underline-color--active: var(--text-color--contrast, inherit);

  @include nok-mixins.nok-inline-link;

  @at-root p & {
    color: var(--nok25-lightblue, inherit);
    --underline-color: var(--nok25-lightblue, inherit);
    --underline-color--active: var(--nok25-lightblue--contrast, inherit);
  }
}
.#{nok-variables.$prefix}-horizontal-button-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--grid-gap, var(--nok25-padding-base, var(--global-grid-gap, 1.5rem)));
  justify-content: flex-start;
  align-items: center;
}
