$prefix : 'nok25';
$padding-base: 1.5rem;
$default-border-radius: round(($padding-base / 4) * 10) / 10;
$default-border-radius--large: round($default-border-radius * 2);
$default-font-family: "Realist", sans-serif;

$exposed-variables: (
    "default-font-family": $default-font-family,
    "padding-base": $padding-base,
    "default-border-radius": $default-border-radius,
    "default-border-radius--large": $default-border-radius--large,
);