@use "sass:map";
@use "sass:string";
@use "nok-variables";
@use "tools/nok-mixins";

.nok-layout {

  &-grid {
    --grid-gap: var(--#{nok-variables.$prefix}-padding-base, var(--#{nok-variables.$prefix}-global-grid-gap, 1.5rem));

    display: grid;
    gap: var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap));
    grid-template-columns: repeat(var(--grid-columns, 1), 1fr);


    //default: cascade down at breakpoints
    //i.e: the column count set in the class is more of a maximum.
    //Override behaviour with the nok25-columns-x helpers
    &__1-column {
      --grid-columns: 1;
    }
    &__2-column {
      --grid-columns: 2;
      @include nok-mixins.media-breakpoint-down(lg) {
        --grid-columns: 1;
      }
    }
    &__3-column {
      --grid-columns: 3;
      @include nok-mixins.media-breakpoint-down(xxl) {
        --grid-columns: 2;
      }
      @include nok-mixins.media-breakpoint-down(lg) {
        --grid-columns: 1;
      }
    }

  }

}