@import "nok-variables";

@mixin nok-font {
  font-family: "Realist", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizelegibility;
}

@mixin nok-btn-shadow-border {
  box-shadow: 0 0 0 0 hsla(0 0 0 / 0);
  &:hover, &:focus {
    box-shadow: 0 0.4rem 0.1rem -0.3rem hsla(0 0 50 / 0.15);
  }
}

@mixin nok-border-radius {
  border-radius: var(--nok25-default-border-radius, 0.4rem);
}
@mixin nok-border-radius--large {
  border-radius: var(--nok25-default-border-radius--large, 1rem)
}

@mixin nok-focus-ring {
  outline: 0 none;
  box-shadow: 0 0 0 2px var(--#{$prefix}-focus-ring, inherit);
}

@mixin nok-inline-link {
  --active-color: #000;
  --hover-transition-time: 0.15s;
  --underline-height: 0.2em;
  //noinspection CssInvalidFunction
  --gradient: linear-gradient(
          transparent 0%,
          transparent calc(50% - var(--underline-height)),
          var(--underline-color) calc(50% - var(--underline-height)),
          var(--underline-color) 150%
  );
  -webkit-tap-highlight-color: transparent;

  text-decoration: none;
  padding: calc(2 * var(--underline-height)) 0;

  background-image: var(--gradient);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 0 0;

  transition: background-position var(--hover-transition-time) ease-out;

  &:hover {
    background-position: 0 calc(-1 * var(--underline-height));
  }
  &:active,
  &:hover:focus:not(:focus-visible) {
    color: var(--underline-color--active);
    background-position: 0 100%;
  }

  &:focus-visible { // focus state by other input method than mouse
    @include nok-border-radius;
    @include nok-focus-ring;
  }
}