/*
//BEM example

.opinions-box {
  margin: 0 0 8px 0;
  text-align: center;

  &__view-more {
    text-decoration: underline;
  }

  &__text-input {
    border: 1px solid #ccc;
  }

  &--is-inactive {
    color: gray;
  }
}*/
/**
 * hyperlink
 */
.nok25-hyperlink:not(.nok25-button) {
  color: var(--text-color, var(--text-color--contrast, inherit));
  --underline-color: var(--text-color, var(--text-color--contrast, inherit));
  --underline-color--active: var(--text-color--contrast, inherit);
  --active-color: #000;
  --hover-transition-time: 0.15s;
  --underline-height: 0.2em;
  --gradient: linear-gradient(
          transparent 0%,
          transparent calc(50% - var(--underline-height)),
          var(--underline-color) calc(50% - var(--underline-height)),
          var(--underline-color) 150%
  );
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  padding: calc(2 * var(--underline-height)) 0;
  background-image: var(--gradient);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: background-position var(--hover-transition-time) ease-out;
}
.nok25-hyperlink:not(.nok25-button):hover {
  background-position: 0 calc(-1 * var(--underline-height));
}
.nok25-hyperlink:not(.nok25-button):active, .nok25-hyperlink:not(.nok25-button):hover:focus:not(:focus-visible) {
  color: var(--underline-color--active);
  background-position: 0 100%;
}
.nok25-hyperlink:not(.nok25-button):focus-visible {
  border-radius: var(--nok25-default-border-radius, 0.4rem);
  outline: 0 none;
  box-shadow: 0 0 0 2px var(--nok25-focus-ring, inherit);
}
p .nok25-hyperlink:not(.nok25-button) {
  color: var(--nok25-lightblue, inherit);
  --underline-color: var(--nok25-lightblue, inherit);
  --underline-color--active: var(--nok25-lightblue--contrast, inherit);
}

/**
 * button
 */
.nok25-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: calc(var(--nok25-padding-base, 1.5rem) / 2) var(--nok25-padding-base, 1.5rem);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
  text-decoration: none;
  color: var(--text-color, var(--text-color--contrast, inherit));
  border-radius: var(--nok25-default-border-radius, 0.4rem);
  box-shadow: 0 0 0 0 hsla(0deg, 0%, 0%, 0);
  border: 1px solid rgba(136, 136, 136, 0.3333333333);
  outline: 0 none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nok25-button:hover, .nok25-button:focus {
  box-shadow: 0 0.4rem 0.1rem -0.3rem hsla(0deg, 0%, 50%, 0.15);
}
.nok25-button:hover, .nok25-button:focus, .nok25-button:active, .nok25-button.active, .nok25-button:focus-visible {
  border-color: rgba(136, 136, 136, 0.1333333333);
}
.nok25-button:hover {
  color: var(--text-color-button--hover, var(--text-color, var(--text-color--contrast, inherit)));
  background-color: var(--bg-color--hover, inherit);
}
.nok25-button:focus {
  outline: 2px solid hsl(var(--bg-color-hsl, 0 0 0)/0.25);
}
.nok25-button:focus-visible {
  outline: 0 none;
  box-shadow: 0 0 0 2px var(--nok25-focus-ring, inherit);
}
.nok25-button:active, .nok25-button.active {
  background-color: var(--bg-color--active, inherit);
}
.nok25-button:disabled, .nok25-button.disabled {
  --local-color-alpha: 0.65;
  opacity: 0.8;
  color: var(--text-color-button, var(--text-color--contrast, inherit));
  pointer-events: none;
}

/**
 * square block
 */
nok25-square-block,
:host {
  --local-color-alpha: 0.8;
  --icon-color: var(--nok25-yellow);
  --text-color: hsla(var(--nok25-white--hsl) / var(--global-color-alpha, var(--local-color-alpha, 1)));
  --text-color--heading: hsla(var(--nok25-white--hsl) / 1);
  --text-color--link: hsla(var(--nok25-white--hsl) / 1);
  --text-color--link--hover: var(--nok25-yellow);
  --text-color--link-icon: var(--nok25-lightblue);
  --text-color--link-icon--hover: var(--nok25-yellow);
  --background-color: var(--nok25-darkblue);
  position: relative;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  font-family: "Realist", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizelegibility;
  gap: 1.5rem;
  padding: 3rem;
  border-radius: var(--nok25-default-border-radius--large, 1rem);
  line-height: 1.25;
  padding: calc(var(--nok25-padding-base, 1.5rem) * 2);
  border-radius: var(--nok25-default-border-radius--large, 8px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}
nok25-square-block > *,
:host > * {
  margin: 0;
}

.nok25-square-block__icon {
  color: var(--icon-color);
  display: flex;
}
.nok25-square-block__icon svg {
  width: 3em;
  height: 3em;
  aspect-ratio: 1;
}
.nok25-square-block__heading {
  color: var(--text-color--heading);
  font-size: 2rem;
  font-weight: 500;
}
.nok25-square-block__text {
  color: var(--text-color);
  font-size: 1.1rem;
}
.nok25-square-block__link {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: start;
  align-items: center;
  justify-items: start;
  cursor: pointer;
  gap: calc(var(--nok25-padding-base, 1.5rem) / 2);
  height: 2rem;
  --local-color-alpha: 0.8;
  color: var(--text-color--link);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
.nok25-square-block__link svg {
  color: var(--text-color--link-icon);
}
.nok25-square-block__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}
.nok25-square-block__link:hover {
  --text-color--link: var(--text-color--link--hover);
  --text-color--link-icon: var(--text-color--link-icon--hover);
}

.nok25-block-group {
  --grid-gap: var(--nok25-padding-base);
  font-family: "Realist", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizelegibility;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.nok25-block-group__inner {
  max-width: 1320px;
  display: grid;
  gap: var(--grid-gap, var(--global-grid-gap));
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: stretch;
}
.nok25-block-group__heading {
  grid-column: 1;
  font-size: 2.5rem;
  font-weight: 500;
}
.nok25-block-group__description {
  grid-column: span 2;
  font-size: 1rem;
  font-weight: 400;
}
.nok25-block-group__scroller {
  grid-column: 1/-1;
  overflow-x: scroll;
}
.nok25-block-group__blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--grid-gap, var(--global-grid-gap));
}
.nok25-block-group__blocks > * {
  flex-basis: 33.3333333333%;
  flex-shrink: 0;
}

/*# sourceMappingURL=element_tests.css.map */