@use "nok-elements";
@use "nok-mixins";
@use "nok-variables";

html {
  --font-size-base: var(--#{nok-variables.$prefix}-html-font-size, 1em);
  font-size: var(--font-size-base, 1em);
  @include nok-mixins.media-breakpoint-down(md) {
    font-size: calc(var(--font-size-base) * .9);
  }
}

body {
  background: linear-gradient(180deg, var(--#{nok-variables.$prefix}-body--darker), var(--#{nok-variables.$prefix}-body));
  @include nok-mixins.nok-text-font;
}