@import "nok-variables";
@import "nok-mixins";

:root {
  @each $key, $value in $exposed-variables {
    --#{$prefix}-#{$key}: #{$value};
  }
}

.#{$prefix}-base-font {
  @include nok-font;
}

.#{$prefix}-stretched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
  @at-root *:has(&) {
    position: relative;
  }
}

/* Enable draggable cursor for non-touch devices */
@media (pointer: fine) {
  .#{$prefix}-draggable {
    & {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
      user-select: none;
    }
  }
}