@use "nok-variables";
@use "nok-mixins";

:root {
  @each $key, $value in nok-variables.$exposed-variables {
    --#{nok-variables.$prefix}-#{$key}: #{$value};
  }
}

.#{nok-variables.$prefix}-heading-font {
  @include nok-mixins.nok-font;
}
.#{nok-variables.$prefix}-text-font {
  @include nok-mixins.nok-text-font;
}

.#{nok-variables.$prefix}-stretched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
  @at-root *:has(&) {
    position: relative;
  }
}

/* Enable draggable cursor for non-touch devices */
@media (pointer: fine) {
  .#{nok-variables.$prefix}-draggable {
    & {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
      user-select: none;
    }
  }
}

.fw-bold {
  font-weight: 600;
}