@use "sass:math";
@use "sass:map";
@use "tools/nok-utilities";
@use "tools/nok-rfs";

$prefix : 'nok';
$theme_root :                   "https://dev.obesitaskliniek.nl/wp-content/themes/nok-2025-v1/";
$padding-base:                  1.5rem;
$default-border-radius:         math.div(math.round((math.div($padding-base, 4)) * 10), 10);
$default-border-radius--large:  math.round($default-border-radius * 2);
$heading-font-family:           "Realist", Arial, Helvetica, sans-serif;
$heading-font-size-adjust:      0.444; //Realist - see https://clagnut.com/sandbox/font-size-adjust-ex.html
$text-font-family:              "Inter", Arial, Helvetica, sans-serif;
$text-font-size-adjust:         0.549; //Inter - see https://clagnut.com/sandbox/font-size-adjust-ex.html
$font-family-monospace:         SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$default-line-height:           1.7;
$default-heading-line-height:   1.1;

$font-size-base:                1rem !default;
$h1-font-size:                  $font-size-base * 2.5 !default;
$h2-font-size:                  $font-size-base * 2 !default;
$h3-font-size:                  $font-size-base * 1.75 !default;
$h4-font-size:                  $font-size-base * 1.5 !default;
$h5-font-size:                  $font-size-base * 1.25 !default;
$h6-font-size:                  $font-size-base !default;
$font-size-buttons:             1.15rem;

$z-stack-top: 100;
$mobile-breakpoint:             lg !default;

$accordion-icon-width:          1.25rem !default;

$animation-duration:            0.3s;

$exposed-variables: (
    "html-font-size": 1em,
    "body-font-family": $text-font-family,
    "body-font-size": $font-size-base,
    "body-font-size-adjust": $text-font-size-adjust,
    "body-line-height": $default-line-height,
    "heading-font-family": $heading-font-family,
    "heading-font-size-adjust": $heading-font-size-adjust,
    "text-font-family": $text-font-family,
    "text-font-size-adjust": $text-font-size-adjust,
    "default-line-height": $default-line-height,
    "default-heading-line-height": $default-heading-line-height,
    "padding-base": $padding-base,
    "global-grid-gap": $padding-base,
    "nok-spacing-section-sides": max(env(safe-area-inset-left), min(6vw, $padding-base * 3)),
    "spacing-section-ends": max(env(safe-area-inset-right), min(12vw, $padding-base * 4)),
    "default-border-radius": $default-border-radius,
    "default-border-radius--large": $default-border-radius--large,
    "font-size-buttons" : $font-size-buttons,
    "font-size-1": nok-rfs.rfs-fluid-value($h6-font-size),
    "font-size-2": nok-rfs.rfs-fluid-value($h5-font-size),
    "font-size-3": nok-rfs.rfs-fluid-value($h4-font-size),
    "font-size-4": nok-rfs.rfs-fluid-value($h3-font-size),
    "font-size-5": nok-rfs.rfs-fluid-value($h2-font-size),
    "font-size-6": nok-rfs.rfs-fluid-value($h1-font-size),
    "font-size-7": nok-rfs.rfs-fluid-value($h1-font-size * 1.25),
);

$font-sizes: ();

@for $i from 1 through 7 {
    $font-sizes: map.merge($font-sizes,(
        $i: var(--nok-font-size-#{($i)})
    ));
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px
) !default;
@include nok-utilities.assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include nok-utilities.assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$section-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    xxxl: 1572px
) !default;
@include nok-utilities.assert-ascending($section-max-widths, "$section-max-widths");

$section-max-widths-narrow: nok-utilities.shift-section-widths($section-max-widths, 1, lg) !default;

$padding-base-values: (
        0 : 0rem,
        0_25: #{(.25 * $padding-base)},
        0_5: #{(.5 * $padding-base)},
        1: #{(1 * $padding-base)},
    //1_5: #{(1.5 * $padding-base)},
        2: #{(1.5 * $padding-base)},
        3: #{(2 * $padding-base)},
        4: #{(3 * $padding-base)},
        5: #{(4 * $padding-base)},
        gap: var(--gap),
        grid-gap: var(--grid-gap),
        column-gap: var(--column-gap),
        section-padding: var(--nok-spacing-section-ends),
        double-section-padding: calc(2 * var(--nok-spacing-section-ends)),
);

$aspect-ratios: (
        "16x5": 16 / 5,
        "16x9": 16 / 9,
        "8x5": 8 / 5
) !default;

@mixin parsed-variables {
    @each $key, $value in $exposed-variables {
        --#{$prefix}-#{$key}: #{$value};
    }
}