@use "sass:math";
@use "sass:map";
@use "nok-variables";
@use "tools/nok-mixins";
@use "tools/nok-api";

.#{nok-variables.$prefix}-heading-font {
  @include nok-mixins.nok-heading-font;
}

.#{nok-variables.$prefix}-small-text-font,
.#{nok-variables.$prefix}-text-font {
  @include nok-mixins.nok-text-font;
}

.#{nok-variables.$prefix}-stretched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }

  @at-root *:has(&) {
    position: relative;
  }
}


.fw-bold {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

.natural-fit-image {
  img {
    width: 100%;
    height: auto;
  }
}
.cover-image {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.square-image {
  aspect-ratio: 1 / 1;
  @extend .cover-image;
}

.square-portrait-image {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  @extend .cover-image;
}

.w-100 {
  width: 100%;
}

.#{nok-variables.$prefix}-bg-blur {
  backdrop-filter: blur(5px);

  &--large {
    backdrop-filter: blur(10px);
  }
}

/* Stacking */

.#{nok-variables.$prefix}-sticky {
  position: sticky;
  top: 0;
  z-index: nok-variables.$z-stack-top;

  &--fixed {
    position: fixed;
  }
}

@for $i from 1 through 9 {
  .#{nok-variables.$prefix}-z-#{$i} {
    z-index: #{$i};
  }
}

.#{nok-variables.$prefix}-z-top {
  z-index: nok-variables.$z-stack-top;
}

/* Aligners */

.valign-center {
  display: flex;
  align-items: center;
}

.align-center {
  align-self: center;
}

.text-center {
  text-align: center;
}
.text-start {
  text-align: left;
}

.align-self-stretch {
  align-self: stretch;
  grid-column: 1 / -1;
}

.align-self-end {
  align-self: end;
}

/* Rounded borders */

.#{nok-variables.$prefix}-rounded-border {
  @include nok-mixins.nok-border-radius();

  $border-sizes: 'default', 'large', 'x-large', 'xx-large';
  $border-positions: 'top', 'right', 'left', 'bottom';

  @each $size in $border-sizes {
    @if $size == 'default' {
      @each $pos in $border-positions {
        &-#{$pos} {
          @include nok-mixins.nok-border-radius('default', $pos);
        }
      }
    } @else {
      &-#{$size} {
        @include nok-mixins.nok-border-radius($size);

        @each $pos in $border-positions {
          &-#{$pos} {
            @include nok-mixins.nok-border-radius($size, $pos);
          }
        }
      }
    }
  }
}


/* animations */
//todo: are these used?
@media (prefers-reduced-motion: no-preference) {
  @keyframes slide--in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide--out {
    from {
      transform: translateX(0%);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 1;
    }
  }

  @keyframes fade--in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade--out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

/* accessibility */

.#{nok-variables.$prefix}-accessibility-helper {
  display: none;
  visibility: hidden;
  inset: 0;
  position: fixed;
  z-index: nok-variables.$z-stack-top + 1;
  pointer-events: none;
}

@media (prefers-contrast: less) {
  body > .#{nok-variables.$prefix}-accessibility-helper {
    display: block;
    visibility: visible;
    backdrop-filter: brightness(0.9) contrast(0.9);
  }
}

@media (prefers-contrast: more) {
  body > .#{nok-variables.$prefix}-accessibility-helper {
    display: block;
    visibility: visible;
    backdrop-filter: brightness(1.1) contrast(1.1);
  }
}


//@for $i from 1 through 7 {
//  .#{nok-variables.$prefix}-fs-#{$i} {
//    font-size: var(--nok-font-size-#{(8- $i)});
//  }
//}

.#{nok-variables.$prefix}-fs-buttons {
  font-size: var(--nok-font-size-buttons);
}

/* Alpha classes */
$alphas: (
        "alpha-1": 1,
        "bg-alpha-1": 1,
);
@for $i from 0 through 10 {
  $value: ($i / 10);
  .#{nok-variables.$prefix}-alpha-#{$i} {
    --text-alpha-value: #{$value};
  }
  .#{nok-variables.$prefix}-bg-alpha-#{$i} {
    --bg-alpha-value: #{$value};
  }
  @media (prefers-color-scheme: dark) {
    .#{nok-variables.$prefix}-dark-alpha-#{$i} {
      --text-alpha-value: #{$value};
    }
    .#{nok-variables.$prefix}-dark-bg-alpha-#{$i} {
      --bg-alpha-value: #{$value};
    }
  }
}


/* margin*/
//@for $i from 1 through 5 {
//  .#{nok-variables.$prefix}-mr-#{$i} {
//    margin-right: #{($i * nok-variables.$padding-base)};
//  }
//  .#{nok-variables.$prefix}-mb-#{$i} {
//    margin-bottom: #{($i * nok-variables.$padding-base)};
//  }
//  .#{nok-variables.$prefix}-ml-#{$i} {
//    margin-left: #{($i * nok-variables.$padding-base)};
//  }
//}

$utilities: (
        "gap": (
                css-var: true,
                css-variable-name: gap,
                no-prefix: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-gap,
                values:nok-variables.$padding-base-values
        ),
        "grid-gap": (
                css-var: true,
                css-variable-name: grid-gap,
                no-prefix: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-grid-gap,
                values:nok-variables.$padding-base-values
        ),
        "column-gap": (
                css-var: true,
                css-variable-name: column-gap,
                no-prefix: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-column-gap,
                values:nok-variables.$padding-base-values
        ),
        "padding": (
                property: padding,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-p,
                values:nok-variables.$padding-base-values
        ),
        "padding-top": (
                property: padding-top,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-pt,
                values:nok-variables.$padding-base-values
        ),
        "padding-right": (
                property: padding-right,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-pr,
                values:nok-variables.$padding-base-values
        ),
        "padding-bottom": (
                property: padding-bottom,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-pb,
                values:nok-variables.$padding-base-values
        ),
        "padding-left": (
                property: padding-left,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-pl,
                values:nok-variables.$padding-base-values
        ),
        "padding-x": (
                property: padding-right padding-left,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-px,
                values:nok-variables.$padding-base-values
        ),
        "padding-y": (
                property: padding-top padding-bottom,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-py,
                values:nok-variables.$padding-base-values
        ),
        "margin": (
                property: margin,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-m,
                values:nok-variables.$padding-base-values
        ),
        "margin-top": (
                property: margin-top,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-mt,
                values:nok-variables.$padding-base-values
        ),
        "margin-end": (
                property: margin-right,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-me,
                values:nok-variables.$padding-base-values
        ),
        "margin-bottom": (
                property: margin-bottom,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-mb,
                values:nok-variables.$padding-base-values
        ),
        "margin-start": (
                property: margin-left,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-ms,
                values:nok-variables.$padding-base-values
        ),
        "margin-x": (
                property: margin-right margin-left,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-mx,
                values:nok-variables.$padding-base-values
        ),
        "margin-y": (
                property: margin-top margin-bottom,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-my,
                values:nok-variables.$padding-base-values
        ),
        "border-bottom": (
                responsive: false,
                responsive-up-to: true,
                property: border-bottom,
                class: #{nok-variables.$prefix}-border-bottom,
                values: (
                        1: 1px solid oklch(from var(--text-base) l c h / 0.25)
                )
        ),
        "border-radius": (
                property: border-radius,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-border-radius,
                values: 0
        ),
        "invisible": (
                property: display,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-invisible,
                no-suffix: true,
                values: none,
        ),
        "order": (
                responsive: true,
                property: order,
                class: #{nok-variables.$prefix}-order,
                values: (
                        first: -1,
                        0: 0,
                        1: 1,
                        2: 2,
                        3: 3,
                        4: 4,
                        last: 5,
                ),
        ),
        "columns": (
                css-var: true,
                css-variable-name: grid-columns,
                no-prefix: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-columns,
                values: 0 1 2 3 4 5 6 7 8 9 10 11 12
        ),
        "align-self": (
                responsive: false,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-align-self,
                values: (
                        stretch: (align-self: stretch, grid-column: "1 / -1")
                )
        ),
        "align-items": (
                responsive: false,
                responsive-up-to: true,
                property: align-items,
                class: #{nok-variables.$prefix}-align-items,
                values: (
                        center: center,
                        stretch: stretch,
                        start: flex-start,
                        end: flex-end,
                )
        ),
        "justify-self": (
                responsive: false,
                responsive-up-to: true,
                property: justify-self,
                class: #{nok-variables.$prefix}-justify-self,
                values: (
                        center: center,
                        stretch: stretch,
                        start: flex-start,
                        end: flex-end,
                )
        ),
        "justify-items": (
                responsive: false,
                responsive-up-to: true,
                property: justify-self,
                class: #{nok-variables.$prefix}-justify-items,
                values: (
                        center: center,
                        stretch: stretch,
                        start: flex-start,
                        end: flex-end,
                )
        ),
        "text-wrap": (
                responsive: false,
                responsive-up-to: false,
                property: text-wrap-style,
                class: #{nok-variables.$prefix}-text-wrap,
                values: (
                      pretty,
                      balance
                )
        ),
        "column-start": (
                responsive: false,
                responsive-up-to: true,
                property: grid-column-start,
                class: #{nok-variables.$prefix}-column-start,
                values: (
                        start: 1,
                        2: 2,
                        3: 3,
                        4: 4,
                        end: -1,
                )
        ),
        'offset': (
                css-var: true,
                css-variable-name: offset,
                no-prefix: true,
                responsive: true,
                responsive-up-to: false,
                class: #{nok-variables.$prefix}-column-offset,
                values: (
                        2,
                        1,
                        0,
                        -1,
                        -2,
                )
        ),
        'span-all-columns': (
                responsive: false,
                responsive-up-to: true,
                no-suffix: true,
                property: grid-column,
                class: #{nok-variables.$prefix}-span-all-columns,
                values: (
                      "1 / -1"
                )
        ),
  //conceptual
        "column-start-to": (
                property: grid-column,
                class: #{nok-variables.$prefix}-column-start-to,
                values: (
                        end: "1 / -1",
                        3: "1 / 3",
                        2: "1 / 2",
                )
        ),
        "font-size": (
                property: font-size,
                responsive: true,
                responsive-up-to: true,
                class: #{nok-variables.$prefix}-fs,
                values: nok-variables.$font-sizes
        )
);

//construct helpers
@include nok-api.generate-helpers($utilities);

.#{nok-variables.$prefix}-scrollable {
  $scrollbar_thickness: 10px;

  &__horizontal { //might be confusing, but a flex-direction: row layout uses gaps that are similar to grid's COLUMN gaps
    --flex-gap: var(--column-gap, var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap)));
    --flex-direction: row;
    --overflow: auto hidden;
  }
  &__vertical {
    --flex-gap: var(--row-gap, var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap)));
    --flex-direction: column;
    --overflow: hidden auto;
  }
  &__horizontal,&__vertical {

    @include nok-mixins.nok-scrollbar-thin($scrollbar_thickness);
    padding-bottom: $scrollbar_thickness * 2;

    /* Enable draggable cursor for non-touch devices */
    @media (pointer: fine) {
      & {
        cursor: grab;
      }
      &:active, &.being-scrolled {
        cursor: grabbing;
        user-select: none;
      }
    }

    &.columns-to-slides {
      --slides-in-view: var(--grid-columns);
    }

    scroll-behavior: smooth;

    display: flex;
    @include nok-mixins.nok-flex-gap(0rem);

    flex-direction: var(--flex-direction, row);
    overflow: var(--overflow, hidden auto);
    flex-wrap: nowrap;

    &[data-scroll-snapping="true"] {
      scroll-snap-type: both mandatory;
      scroll-snap-stop: normal;
      scroll-snap-align: start;
    }

    > * {
      flex: 0 0 calc(
        (100% - (var(--flex-gap, 0rem) * (var(--slides-in-view, 1) - 1))) / var(--slides-in-view, 1)
      );
      scroll-snap-align: start;
    }

    nok-square-block {
      > *:not(a),
      a::after {
        pointer-events: none;
      }
    }

  }
}