@use "nok-variables";
@use "tools/nok-rfs";

@mixin nok-body-properties {
  margin: 0; // 1
  font-family: var(--#{nok-variables.$prefix}-body-font-family);
  @include nok-rfs.font-size(var(--#{nok-variables.$prefix}-body-font-size));
  font-weight: var(--#{nok-variables.$prefix}-body-font-weight);
  font-size-adjust: var(--#{nok-variables.$prefix}-body-font-size-adjust);
  line-height: var(--#{nok-variables.$prefix}-body-line-height, 1.5);
  color: var(--#{nok-variables.$prefix}-body-text-color);
  text-align: var(--#{nok-variables.$prefix}-body-text-align);
  background-color: var(--#{nok-variables.$prefix}-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}