@use "components/shared" as components-base;

/*
body nok-screen-mask {
  .nok-button {
    display: none;
    @include components-base.nok-subtle-shadow;
  }
}
@media (prefers-reduced-transparency) {
  body nok-screen-mask {
    display: none;
  }
}
@media (prefers-reduced-motion: no-preference) {
  body nok-screen-mask {
    transition: background 500ms ease-in-out, backdrop-filter 500ms ease-in-out;
    .nok-button {
      animation: fade--in 250ms var(--animation-easing-out, cubic-bezier(.85, 0, .15, 1));
      animation-fill-mode: forwards;
    }
  }
}
body:hover {
  touch-action: none;
}
body:hover > nok-screen-mask {
  backdrop-filter: blur(5px);
  --bg-alpha-value: 0.5;
  pointer-events: all;
  .nok-button {
    pointer-events: all;
    display: block;
  }
}
@media (prefers-reduced-transparency) {
  body:hover > nok-screen-mask {
    display: none;
  }
}*/


html body {
  cursor: move;
  user-select: none;

  &:hover:before {
    pointer-events: none;
    display: flex;
    padding: 2px 4px;
    margin: 0;
    border-radius: 0;
    font-size: 14px;
    text-shadow: 1px 2px #000;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    inset: 0;
    content: "Dit is een Page Part preview. Deze zijn niet interactief. \
      \A Gebruik de voorvertoning/preview om de gehele pagina interactief te bekijken, \
      \A of gebruik het pennetje rechtsboven om deze Page Part te bewerken.";
    text-align: center;
    white-space: pre-wrap;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
}