@use "../../assets/css/nok-variables";
@use "../../assets/css/tools/nok-mixins";
@use "../../assets/css/tools/nok-rfs";
@use "../../assets/css/color_tests-v2";
@use "../../assets/css/nok-reboot-body";

.editor-styles-wrapper div.page-part {
  all: initial !important; /* reset all styles */
  display: contents; /* make sure the div only serves as a style isolation wrapper */
  @include nok-variables.parsed-variables;
  @import "../../assets/css/nok-reboot";
  * {
    margin: 0; // 1
    font-family: var(--#{nok-variables.$prefix}-body-font-family);
    @include nok-rfs.font-size(var(--#{nok-variables.$prefix}-body-font-size));
    font-weight: var(--#{nok-variables.$prefix}-body-font-weight);
    font-size-adjust: var(--#{nok-variables.$prefix}-body-font-size-adjust);
    line-height: var(--#{nok-variables.$prefix}-body-line-height, 1.5);
  }
}

div.page-part.page-part--header-top-level {

  @import "../../assets/css/nok-layout";

  @import "../../assets/css/components/nok-sections";
  @import "../../assets/css/components/nok-square-block";

  //Todo: move everything below to something that makes more sense

  /* custom elements */
  article, aside, section,
  #{nok-variables.$prefix}-logo, #{nok-variables.$prefix}-mobile-nav, #{nok-variables.$prefix}-desktop-nav {
    display: contents;
  }

  body {
    --#{nok-variables.$prefix}-body-text-color: var(--#{nok-variables.$prefix}-darkerblue);
    background: linear-gradient(180deg, var(--#{nok-variables.$prefix}-body--darker), var(--#{nok-variables.$prefix}-body));
    @include nok-mixins.nok-text-font;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      @include nok-mixins.nok-heading-font;
    }
  }

  body {
    --#{nok-variables.$prefix}-body-text-color: var(--#{nok-variables.$prefix}-darkerblue);
    background: linear-gradient(180deg, var(--#{nok-variables.$prefix}-body--darker), var(--#{nok-variables.$prefix}-body));
    @include nok-mixins.nok-text-font;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      @include nok-mixins.nok-heading-font;
    }
  }

  html {
    --font-size-base: var(--#{nok-variables.$prefix}-html-font-size, 1em);
    font-size: var(--font-size-base, 1em);
    @include nok-mixins.media-breakpoint-down(md) {
      font-size: calc(var(--font-size-base) * .9);
    }
  }
  @import "../../assets/css/nok-helpers";
}
