/**
 * square block
 */
.nok-usp-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.nok-usp-block__inner {
  --grid-gap: var(--nok-padding-base, var(--nok-global-grid-gap, 1.5rem));
  --grid-column-width: calc(
      (100% - (var(--grid-gap, 1) * (var(--grid-columns, 1) - 1))) / var(--grid-columns, 1)
  );
  grid-template-columns: repeat(var(--grid-columns, 1), 1fr);
  grid-template-rows: 1fr;
  align-items: stretch;
}
@media (max-width: 991.98px) {
  .nok-usp-block__inner {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
.nok-usp-block__scroller {
  grid-column: 1/-1;
  overflow-x: scroll;
}
.nok-usp-block__scroller.nok-draggable {
  position: relative;
  will-change: scroll-position; /*seems to bump performance in firefox ever so slightly*/
}
.nok-usp-block__scroller.nok-draggable, .nok-usp-block__scroller.nok-draggable + .fake-scrollbar {
  --scrollbar-height: 10px;
  --scrollbar-handle: var(--text-color, #CCC);
  --scrollbar-handle--active: var(--text-color--hover, #FFF);
  --scrollbar-track: oklch(from var(--nok-body) l c h/0.25);
}
.nok-usp-block__scroller.nok-draggable::-webkit-scrollbar {
  height: var(--scrollbar-height, 6px);
}
.nok-usp-block__scroller.nok-draggable::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track, rgba(0, 0, 0, 0.5333333333));
  border-radius: 10px;
}
.nok-usp-block__scroller.nok-draggable::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-handle, rgba(255, 255, 255, 0.9333333333));
  border: 1px solid var(--scrollbar-handle, rgba(255, 255, 255, 0.9333333333));
  border-radius: 10px;
}
.nok-usp-block__scroller.nok-draggable::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-handle--active, white);
  border-color: var(--scrollbar-handle--active, white);
}
body.no-js .nok-usp-block__scroller.nok-draggable + .fake-scrollbar {
  display: none;
  visibility: hidden;
}

body:not(.no-js) .nok-usp-block__scroller.nok-draggable:has(+ .fake-scrollbar) {
  scrollbar-width: none;
}
body:not(.no-js) .nok-usp-block__scroller.nok-draggable:has(+ .fake-scrollbar)::-webkit-scrollbar {
  display: none;
}
body:not(.no-js) .nok-usp-block__scroller.nok-draggable + .fake-scrollbar {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  width: 100%;
  height: var(--scrollbar-height, 6px);
  background-color: var(--scrollbar-track, rgba(0, 0, 0, 0.5333333333));
  border-radius: 10px;
  overflow: hidden;
}
body:not(.no-js) .nok-usp-block__scroller.nok-draggable + .fake-scrollbar .fake-scrollbar-thumb {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: grab;
  position: absolute;
  height: 100%;
  width: 20%; /* Will be dynamically updated */
  background-color: var(--scrollbar-handle, rgba(255, 255, 255, 0.9333333333));
  border: 1px solid var(--scrollbar-handle, rgba(255, 255, 255, 0.9333333333));
  border-radius: 10px;
  will-change: transform;
  contain: strict;
  backface-visibility: hidden;
}
body:not(.no-js) .nok-usp-block__scroller.nok-draggable + .fake-scrollbar:hover .fake-scrollbar-thumb, body:not(.no-js) .nok-usp-block__scroller.nok-draggable:hover + .fake-scrollbar .fake-scrollbar-thumb, body:not(.no-js) .nok-usp-block__scroller.nok-draggable.grabbed-scrollbar + .fake-scrollbar .fake-scrollbar-thumb, body:not(.no-js) .nok-usp-block__scroller.nok-draggable.grabbed-direct + .fake-scrollbar .fake-scrollbar-thumb {
  background-color: var(--scrollbar-handle--active, white);
}
body:not(.no-js) .nok-usp-block__scroller.nok-draggable.grabbed-scrollbar + .fake-scrollbar {
  overflow: visible;
}
body:not(.no-js) .nok-usp-block__scroller.nok-draggable.grabbed-scrollbar + .fake-scrollbar .fake-scrollbar-thumb {
  cursor: grabbing;
  outline: 5px solid rgba(255, 255, 255, 0.5333333333);
}

.nok-usp-block__scroller.nok-draggable[data-scroll-snapping=true] {
  scroll-snap-type: both mandatory;
  scroll-snap-stop: normal;
}
.nok-usp-block__scroller.nok-draggable[data-scroll-snapping=false] {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}
.nok-usp-block__scroller.nok-draggable[data-scroll-snapping=true] .nok-draggable-slider-item {
  scroll-snap-align: start;
}
.nok-usp-block__scroller.nok-draggable .nok-draggable-slider-item > *:not(a),
.nok-usp-block__scroller.nok-draggable .nok-draggable-slider-item a::after {
  pointer-events: none;
}
.nok-usp-block__scroller .nok-usp-block__blocks {
  margin-bottom: calc(var(--grid-gap, 1.5rem) * 2);
}
body:not(.no-js) .nok-usp-block:has(.fake-scrollbar) .nok-usp-block__scroller .nok-usp-block__blocks {
  margin-bottom: var(--grid-gap, 1.5rem);
}

.nok-usp-block__blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--grid-gap, var(--nok-global-grid-gap));
}
.nok-usp-block__blocks > * {
  flex-basis: var(--grid-column-width);
  flex-shrink: 0;
}

/*# sourceMappingURL=nok-component--usp-block.css.map */