@use "sass:map";
@use "../nok-variables";
@use "../nok-colors";
@use "../nok-mixins";
@use "../nok-rfs";
@use "../nok-utilities";

/**
 * hero unit
 */

@mixin menu-flex($gap) {
  --grid-gap: #{$gap};
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  gap: var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap));

  padding-top: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap)) * .75);
  padding-bottom: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap)) * .75);

  > * {
    flex-shrink: 0;

    &:first-child {
      flex-basis: 100%;
      flex-shrink: 1;
    }
  }
}

$component-name: #{nok-variables.$prefix}-nav;

.#{$component-name} {
  $z_base: 0;

  @include nok-mixins.nok-font;
  @include nok-rfs.rfs(1.2rem, font-size);

  @include nok-mixins.media-breakpoint-up(lg) {
    #{nok-variables.$prefix}-mobile-nav {
      display: none !important;
    }
    & {
      position: sticky;
      top: 0;
      z-index: nok-variables.$z-stack-top;
    }
  }
  @include nok-mixins.media-breakpoint-down(lg) {
    #{nok-variables.$prefix}-desktop-nav {
      display: none !important;
    }
    & {
      position: fixed;
      bottom: 0;
      top: 0;
      justify-content: flex-start;
      z-index: nok-variables.$z-stack-top;
    }
    @at-root body:has(.#{$component-name}.open) {
      overflow: hidden !important;
    }
  }

  .#{nok-variables.$prefix}-button {
    --flex-gap: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap)) * .75);
  }

  &-menu-toggler.#{nok-variables.$prefix}-button {
    transform: rotate(0deg);
    transition: transform .5s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &-mask {
    --local-bg-color-alpha: 0;
    inset: 0;
    position: fixed;
    z-index: 2;
    pointer-events: none;
    transition: background 500ms ease-in-out, backdrop-filter 500ms ease-in-out;
  }

  &.open {
    .#{$component-name}-mask {
      backdrop-filter: blur(5px);
      --local-bg-color-alpha: 0.5;
      pointer-events: all;
    }

    .#{$component-name}-dropdown {
      transform: translateY(0);
    }

    .#{$component-name}-menu-toggler {
      background-image: var(--#{nok-variables.$prefix}-button-icon-navbar-toggler-active);
      transform: rotate(-180deg);
    }
  }

  #{nok-variables.$prefix}-desktop-nav {
    .#{$component-name}-top {
      z-index: $z_base + 1;
      @include nok-mixins.nok-text-font;
      @include nok-rfs.rfs(1rem, font-size);
      font-weight: 300;

      @include menu-flex(var(--#{nok-variables.$prefix}-padding-base, var(--#{nok-variables.$prefix}-global-grid-gap, 1.5rem)));

      &-row {
        padding-bottom: 2rem;
        overflow: hidden;
      }
    }

    .#{$component-name}-menubar {
      pointer-events: all;
      z-index: $z_base + 3;
      @include menu-flex(var(--#{nok-variables.$prefix}-padding-base, var(--#{nok-variables.$prefix}-global-grid-gap, 1.5rem)));
      @include nok-mixins.nok-border-radius('large');
      @include nok-mixins.nok-subtle-shadow;

      padding-left: var(--#{nok-variables.$prefix}-padding-base, 1.5rem);
      padding-right: var(--#{nok-variables.$prefix}-padding-base, 1.5rem);
      height: 6rem;

      overflow: hidden;

      font-weight: 500;

      img, svg {
        align-self: center;
        height: 3.5rem;
        @include nok-rfs.rfs(3.5rem, height);
        width: auto;
      }

      &-row {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        top: 4rem;
        overflow: hidden; // stops the dropdown from appearing at the top when collapsed
      }
    }

    .#{$component-name}-dropdown {
      z-index: $z_base + 2;
      display: grid;
      grid-template-rows: 1fr;
      overflow: hidden;
      justify-content: center;

      margin-top: calc(-1 * var(--#{nok-variables.$prefix}-default-border-radius--large, 0));
      margin-left: var(--#{nok-variables.$prefix}-default-border-radius--large, 0); //prevents the dropdown from appearing at the top sides when collapsed due to border radius on the menubar
      margin-right: var(--#{nok-variables.$prefix}-default-border-radius--large, 0); //prevents the dropdown from appearing at the top sides when collapsed due to border radius on the menubar
      transform: translateY(-100%);
      transition: transform .65s cubic-bezier(.85, 0, .15, 1);

      &-collapser {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      &-contents {
        --grid-gap: var(--#{nok-variables.$prefix}-padding-base, var(--#{nok-variables.$prefix}-global-grid-gap, 1.5rem));
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-self: center;

        pointer-events: all;

        gap: var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap));
        @include nok-mixins.nok-border-radius('large', 'bottom');
        @include nok-mixins.nok-subtle-shadow;

        width: max-content;
        overflow: hidden;
        padding: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-padding-base, 1.5rem)) * 2);

        > * {
          flex-basis: 50%;
          min-width: 0;
          flex-shrink: 1;
        }

        &-menu {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-padding-base, 1.5rem)) / 2) 0;
        }

        h2 {
          @include nok-rfs.rfs(2rem, font-size);
        }

        h3 {
          @include nok-rfs.rfs(1.5rem, font-size);
        }

        ul {
          list-style-type: none;
          padding: 0;
          font-weight: 300;
        }
      }
    }
  }

  #{nok-variables.$prefix}-mobile-nav {
    $dur_in: 750ms;
    $dur_out: 750ms;
    --animation-duration--in: #{$dur_in};
    --animation-duration--out: #{$dur_out};
    --animation-easing: cubic-bezier(.07,1.01,.36,1);

    @at-root .#{$component-name}.open {
      touch-action: none;

      #{nok-variables.$prefix}-mobile-nav {
        > * {
          $inter-delay: 100ms;
          &:nth-child(n+2) {
            opacity: 0;
            animation: slide--in var(--animation-duration--in) var(--animation-easing);
            animation-fill-mode: forwards;
            .#{nok-variables.$prefix}-nav__menuitem {
              opacity: 0;
              animation: fade--in 0.5s ease-out;
              animation-fill-mode: forwards;
            }
            @for $i from 1 through 15 {
              .#{nok-variables.$prefix}-nav__menuitem:nth-child(#{$i}) {
                animation-delay: ($dur_in / 4) + (50ms * $i);
              }
            }
          }
        }
      }
    }
    @at-root .#{$component-name}:not(.open) #{nok-variables.$prefix}-mobile-nav {
      > * {
        $inter-delay: 100ms;
        &:nth-child(n+2) {
          opacity: 1;
          animation: slide--out var(--animation-duration--out) var(--animation-easing);
          animation-fill-mode: forwards;
        }
      }
    }

    .#{$component-name} {
      &-top {
        &-row {
          display: flex;

          align-items: center;
          justify-items: center;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;

          padding: 1rem var(--#{nok-variables.$prefix}-padding-section-sides);
          gap: var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap));
        }

      }

      &-footer, &-carousel {
        padding: 0;
        margin: 0;
      }

      &-carousel {
        overflow: hidden;
        scroll-behavior: smooth;
        overscroll-behavior: contain;
        touch-action: none;

        flex-grow: 1;
        flex-shrink: 1;

        &.is-scrolling {
          //stop listening while scrolling
          pointer-events: none !important;
        }
        &[data-scroll-snapping="true"] {
          scroll-snap-type: both mandatory;
          scroll-snap-stop: normal;
        }

        &__inner {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          gap: var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap));
          height: 100%;
        }

        &__slide {
          padding: 0;
          margin: 0;
          overflow: hidden;
          scroll-behavior: smooth;
          touch-action: none;

          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;

          scroll-snap-type: both mandatory;
          scroll-snap-stop: normal;

          &,
          > * {
            flex-shrink: 0;
            flex-basis: 100%;
            scroll-snap-align: start;
          }
        }
      }


      &__menuitems {
        --item-padding: 1rem 0;
        font-weight: 500;
        padding: 1rem var(--#{nok-variables.$prefix}-padding-section-sides);
        display: flex;
        flex-direction: column;
        overflow-y: auto; //make sure we can scroll the submenus on really small screens (or many items)
        &--compact {
          @include nok-rfs.rfs(1rem, font-size);
          font-weight: 400;
          --item-padding: .5rem 0;
        }
      }
      &__menuitem {
        padding: var(--item-padding);
        display: grid;
        grid-template-columns: 1fr auto;
        text-decoration: none;
        &:not(&--back) {
          border-bottom: 2px solid #8884;
          &::after {
            content: "\003E";
            position: relative;
          }
        }

        &--back {
          font-weight: 400;
        }
      }

      &-footer {

      }
    }
    #{nok-variables.$prefix}-logo {
      display: block;
      flex-grow: 1;
      min-width: 0;
      svg {
        align-self: center;
        height: 4rem;
        @include nok-rfs.rfs(4rem, height);
        width: auto;
      }
    }

  }
}