@use "sass:map";
@use "../nok-variables";
@use "../nok-colors";
@use "../nok-mixins";
@use "../nok-rfs";
@use "../nok-utilities";

/**
 * hero unit
 */

@mixin menu-flex($gap) {
  --grid-gap: #{$gap};
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  gap: var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap));

  padding-top: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap)) * .75);
  padding-bottom: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap)) * .75);

  > * {
    flex-shrink: 0;

    &:first-child {
      flex-basis: 100%;
      flex-shrink: 1;
    }
  }
}

$component-name: #{nok-variables.$prefix}-nav;

.#{$component-name} {
  $z_base: 0;
  $switch_point: xl;

  $dur_in: 750ms;
  $dur_out: 550ms;
  $inter-delay: 100ms;

  --animation-easing-in: cubic-bezier(.07,1.01,.36,1);
  --animation-easing-out: cubic-bezier(.85, 0, .15, 1);
  --animation-duration--in: #{$dur_in};
  --animation-duration--out: #{$dur_out};

  font-size: 1.2rem;
  @include nok-rfs.rfs(1.2rem, font-size);

  @include nok-mixins.media-breakpoint-up($switch_point) {
    #{nok-variables.$prefix}-mobile-nav {
      display: none !important;
    }
    & {
      position: sticky;
      top: 0;
      z-index: nok-variables.$z-stack-top;
    }
  }
  @include nok-mixins.media-breakpoint-down($switch_point) {
    #{nok-variables.$prefix}-desktop-nav {
      display: none !important;
    }
    & {
      position: fixed;
      top: 0;
      bottom: 0;
      justify-content: flex-start;
      z-index: nok-variables.$z-stack-top;
      pointer-events: none;
    }
  }

  &-mask {
    --local-bg-color-alpha: 0;
    inset: 0;
    position: fixed;
    z-index: 2;
    pointer-events: none;
    @media (prefers-reduced-transparency) {
      display: none;
      @media (prefers-reduced-motion: no-preference) {
        animation: fade--in .5s ease-in-out;
      }
    }
    @media (prefers-reduced-motion: no-preference) {
      transition: background 500ms ease-in-out, backdrop-filter 500ms ease-in-out;
    }
  }

  &-control-dropdown {
    font-size: 16px; //fixed
    position: absolute;
    top: 0;
    z-index: nok-variables.$z-stack-top;

    max-width: var(--section-max-width, calc(100vw - (var(--nok25-padding-section-sides, 1.5rem) * 2)));
    @include nok-mixins.media-breakpoint-down(md) {
      width: 100%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;

    padding: 32px 32px 0 32px;

    @include nok-mixins.nok-border-radius('large', 'bottom');
    --nok25-default-border-radius: 16px;
    --nok25-default-border-radius--large: 24px;

    h5 {
      font-size: 20px
    }
    .nok25-button {
      --nok25-default-border-radius: 8px;
      --flex-gap: 8px !important;
      font-size: inherit !important;
      flex-shrink: 1;
      aspect-ratio: 1;
      flex-basis: 100%;
      align-self: stretch;
      padding: 10px;
    }

    &__section {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }

    &::after {
      content: "";
      display: flex;
      background: #8885;
      width: 75%;
      height: 5px;
      border-radius: 5px;
      margin-bottom: 8px;
      cursor: grab;
    }
    &:active {
      &::after {
        cursor: grabbing;
      }
    }
  }
  &-control-dropdown.open  {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(0, 0, 0, 0.1);
  }

  &-dropdown,
  &-control-dropdown {
    transform: translateY(-100%);
    @media (prefers-reduced-motion: no-preference) {
      transition: transform var(--animation-duration--out) var(--animation-easing-out), box-shadow var(--animation-duration--out) var(--animation-easing-out);
    }
  }

  &.open &-dropdown,
  &-control-dropdown.open  {
    transform: translateY(0);
    @media (prefers-reduced-motion: no-preference) {
      transition-duration: var(--animation-duration--in);
      transition-timing-function: var(--animation-easing-in);
    }
    pointer-events: all;
  }

  .#{nok-variables.$prefix}-button {
    height: 100%;
    max-height: 100%;
    --flex-gap: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap)) * .75);
  }

  &-menu-toggler.#{nok-variables.$prefix}-button {
    transform: rotate(0deg);
    @media (prefers-reduced-motion: no-preference) {
      transition: transform var(--animation-duration--in) cubic-bezier(0.16, 1, 0.3, 1);
    }
  }

  /* Open state */

  &.open {
    touch-action: none;

    .#{$component-name}-mask {
      @media (prefers-reduced-transparency) {
        display: none;
      }
      backdrop-filter: blur(5px);
      --local-bg-color-alpha: 0.5;
      pointer-events: all;
    }

    .#{$component-name}-menu-toggler {
      background-image: var(--#{nok-variables.$prefix}-button-icon-navbar-toggler-active);
      transform: rotate(-180deg);
    }

    .#{$component-name}-drawer {
      transform: translateX(0%);
      @include nok-mixins.nok-subtle-shadow-menu;
      @media (prefers-reduced-motion: no-preference) {
        transition-duration: var(--animation-duration--in);
        transition-timing-function: var(--animation-easing-in);
      }
      @media (prefers-reduced-motion: no-preference) {
        .#{nok-variables.$prefix}-nav__menuitem {
          opacity: 0;
          animation: fade--in 0.5s var(--animation-easing-out);
          animation-fill-mode: forwards;
        }
      }
      @for $i from 1 through 15 {
        .#{nok-variables.$prefix}-nav__menuitem:nth-child(#{$i}) {
          animation-delay: ($dur_in / 4) + (50ms * ($i - 1));
        }
      }
    }
  }

  #{nok-variables.$prefix}-desktop-nav {
    .#{$component-name}-top {
      z-index: $z_base + 1;
      @include nok-mixins.nok-text-font;
      font-size: 1rem;
      @include nok-rfs.rfs(1rem, font-size);
      font-weight: 300;

      @include menu-flex(var(--#{nok-variables.$prefix}-padding-base, var(--#{nok-variables.$prefix}-global-grid-gap, 1.5rem)));

      &-row {
        padding-bottom: 2rem;
        overflow: hidden;
      }
      a {
        text-decoration: none;
        &:hover {
          color: var(--nok25-lightblue);
        }
      }
    }

    .#{$component-name}-menubar {
      pointer-events: all;
      z-index: $z_base + 3;
      @include menu-flex(var(--#{nok-variables.$prefix}-padding-base, var(--#{nok-variables.$prefix}-global-grid-gap, 1.5rem)));
      @include nok-mixins.nok-border-radius('large');
      @include nok-mixins.nok-subtle-shadow;

      padding-left: var(--#{nok-variables.$prefix}-padding-base, 1.5rem);
      padding-right: var(--#{nok-variables.$prefix}-padding-base, 1.5rem);
      height: 6rem;

      overflow: hidden;

      font-weight: 400;

      img, svg {
        align-self: center;
        height: 3.5rem;
        @include nok-rfs.rfs(3.5rem, height);
        width: auto;
      }

      &-row {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        top: 4rem;
        overflow: hidden; // stops the dropdown from appearing at the top when collapsed
      }
    }

    .#{$component-name}-dropdown {
      z-index: $z_base + 2;
      display: flex;
      overflow: hidden;
      justify-content: center;
      flex-basis: 100%;

      margin-top: calc(-1 * var(--#{nok-variables.$prefix}-default-border-radius--large, 0));
      margin-left: var(--#{nok-variables.$prefix}-default-border-radius--large, 0); //prevents the dropdown from appearing at the top sides when collapsed due to border radius on the menubar
      margin-right: var(--#{nok-variables.$prefix}-default-border-radius--large, 0); //prevents the dropdown from appearing at the top sides when collapsed due to border radius on the menubar

      padding-bottom: 16px + 8px; /* to prevent box-shadow from being cut off due to overflow - sync px values with applied shadow (currently: nok-subtle-shadow-menu)*/

      &-collapser {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      &-contents {
        --grid-gap: var(--#{nok-variables.$prefix}-padding-base, var(--#{nok-variables.$prefix}-global-grid-gap, 1.5rem));
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-self: center;

        flex-basis: 100%;
        pointer-events: all;

        gap: var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap));
        @include nok-mixins.nok-border-radius('large', 'bottom');
        @include nok-mixins.nok-subtle-shadow-menu;

        width: max-content;
        //overflow: hidden;
        padding: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-padding-base, 1.5rem)) * 2);

        @include nok-mixins.media-breakpoint-up(xl) {
          max-width: map.get(nok-variables.$grid-breakpoints, lg);
        }

        > * {
          flex-basis: 50%;
          min-width: 0;
          flex-shrink: 1;
        }

        &-menu {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: calc(var(--grid-gap, var(--#{nok-variables.$prefix}-padding-base, 1.5rem)) / 2) 0;
        }

        h2 {
          font-size: 2rem;
          @include nok-rfs.rfs(2rem, font-size);
        }

        h3 {
          font-size: 1.5rem;
          @include nok-rfs.rfs(1.5rem, font-size);
        }

        ul {
          list-style-type: none;
          padding: 0;
          font-weight: 300;
        }
      }
    }
  }

  #{nok-variables.$prefix}-mobile-nav {

    .#{$component-name} {

      &-top-row,
      &-drawer {
        pointer-events: all;
      }
      &-top-row {
        display: flex;

        align-items: center;
        justify-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        padding: 1rem var(--#{nok-variables.$prefix}-padding-section-sides);
        gap: var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap));
      }

      &-drawer {

        transform: translateX(100%);
        @media (prefers-reduced-motion: no-preference) {
          transition: transform var(--animation-duration--out) var(--animation-easing-out);
        }

        display: flex;
        flex-direction: column;
        min-height: 0;
        align-self: flex-end;
        @include nok-mixins.media-breakpoint-down(md) {
          align-self: stretch;
        }
        flex-basis: 100%;

        .#{$component-name}-footer,
        .#{$component-name}-carousel {
          padding: 0;
          margin: 0;
        }

        .#{$component-name}-carousel {
          overflow: hidden;
          @media (prefers-reduced-motion: no-preference) {
            scroll-behavior: smooth;
          }
          overscroll-behavior: contain;
          touch-action: none;

          flex-grow: 1;
          flex-shrink: 1;

          &.is-scrolling {
            //stop listening while scrolling
            pointer-events: none !important;
          }
          &[data-scroll-snapping="true"] {
            scroll-snap-type: both mandatory;
            scroll-snap-stop: normal;
          }

          &__inner {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: var(--grid-gap, var(--#{nok-variables.$prefix}-global-grid-gap));
            height: 100%;
          }

          &__slide {
            padding: 0;
            margin: 0;
            overflow: hidden;
            @media (prefers-reduced-motion: no-preference) {
              scroll-behavior: smooth;
            }
            touch-action: none;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            scroll-snap-type: both mandatory;
            scroll-snap-stop: normal;

            &,
            > * {
              flex-shrink: 0;
              flex-basis: 100%;
              scroll-snap-align: start;
            }
          }
        }

        @media (orientation: landscape) {
          flex-direction: row;
          flex-wrap: nowrap;
          .#{$component-name}-footer,
          .#{$component-name}-carousel {
            flex-basis: 50%;
            flex-shrink: 1;
          }
        }

      }


      &__menuitems {
        --item-padding: clamp(0.5rem, 2vw, 1rem);
        font-weight: 400;
        padding: 1rem var(--#{nok-variables.$prefix}-padding-section-sides);
        display: flex;
        flex-direction: column;
        overflow-y: auto; //make sure we can scroll the submenus on really small screens (or many items)
        @mixin __local_compact {
          font-size: 1rem;
          @include nok-rfs.rfs(1rem, font-size);
          font-weight: 400;
          --item-padding: 0.5rem;
        }
        &--compact {
          @include __local_compact;
        }
        @include nok-mixins.media-breakpoint-down(md) {
          @include __local_compact;
        }
      }
      &__menuitem {
        padding: var(--item-padding) 0;
        display: grid;
        grid-template-columns: 1fr auto;

        text-decoration: none;
        color: hsla(var(--text-color-hsl) / var(--local-color-alpha, 1));

        &:not(&__back) {
          &:not(:last-of-type) {
            border-bottom: 2px solid #8884;
          }
          &::after {
            content: "\003E";
            position: relative;
          }
        }

        &__back {
          font-weight: 400;
        }

        &--active {
          color: var(--nok25-lightblue--darker--active);
        }
      }

    }
    #{nok-variables.$prefix}-logo {
      display: block;
      flex-grow: 1;
      min-width: 0;
      svg {
        align-self: center;
        @include nok-rfs.rfs(3rem, height);
        width: auto;
        max-width: 100%;
        padding: 0 1px;
      }
    }

  }
}