@use "../nok-variables";
@use "../nok-mixins";
@use "../nok-rfs";

$component-name: #{nok-variables.$prefix}-horizontal-section;

.#{$component-name} {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__inner {
    &, &-fluid {
      @include nok-mixins.make-section();
    }

    @each $breakpoint, $section-max-width in nok-variables.$section-max-widths {
      @include nok-mixins.media-breakpoint-up($breakpoint, nok-variables.$grid-breakpoints) {
        & {
          max-width: $section-max-width;
        }
      }
    }
  }

  /* Typography */
  &__heading {
    grid-column: 1;
    font-weight: 500;
    line-height: var(--nok25-default-heading-line-height, 1.25);
    margin: 0;
    &__description {
      font-size: 1.1rem;
      font-weight: 400;
      line-height: var(--nok25-default-line-height, 1.25);
      margin: 0;
    }
  }
}

h1.#{$component-name}__heading {
  @include nok-rfs.rfs(3.25rem, font-size);
}
h2.#{$component-name}__heading {
  @include nok-rfs.rfs(2.5rem, font-size);
}