@use "sass:map";
@use "../nok-variables";
@use "../nok-mixins";
@use "../nok-rfs";

/**
 * hero unit
 */

$component-name: #{nok-variables.$prefix}-hero;

.#{$component-name} {
  --grid-gap: var(--nok25-padding-base, var(--global-grid-gap, 1.5rem));
  position: relative;
  @include nok-mixins.nok-border-radius('x-large', 'bottom');
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;

  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: auto 1fr;

  article {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: var(--grid-gap, var(--global-grid-gap));
  }

  figure {
    z-index: 1;
    overflow: hidden;
    margin: 0;
    --grad-1-1: var(--nok25-greenblue--hsl);
    --grad-1-2: var(--nok25-yellow--hsl);
    --base-layer: var(--nok25-body--darker--hsl);
    @media (prefers-color-scheme: dark) {
      --grad-1-1: var(--nok25-greenyellow--lighter--hsl);
      --grad-1-2: var(--nok25-lightblue--lighter--hsl);
      --base-layer: var(--nok25-darkerblue--darker--hsl);
    }
    linearGradient {
      &#a {
        --local-color-alpha: 1;
      }
      &#b {
        --local-color-alpha: 0.5;
      }
      &#c {
        --local-color-alpha: 0.3;
      }
    }
    path#d {
      --local-color-alpha: 0.4;
    }
    foreignObject img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: 40% 50%;
      background-color: hsla(var(--nok25-green--hsl) / 0.5);

    }
  }

  article, figure {
    grid-row: 1 / 3;
    z-index: 1;
    position: relative;
  }

  article {
    grid-column: 1 / 2;
  }

  figure {
    grid-column: 2 / 3;
  }

  section {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: end;
    z-index: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    padding-top: var(--nok25-padding-base, 1.5rem);
    padding-bottom: var(--nok25-padding-base, 1.5rem);
  }

  article, section {
    padding-right: var(--nok25-padding-section-sides, 1.5rem);
    padding-left: var(--nok25-padding-section-sides, 1.5rem);
  }

}

/* Typography */
h1.#{$component-name}__heading {
  font-weight: 500;
  @include nok-rfs.rfs(4.4rem, font-size);
  @include nok-rfs.rfs(1.05, line-height);
}
.#{$component-name}__pre-heading {
  @include nok-rfs.rfs(1.25rem, font-size);
}