@use "sass:map";
@use "../nok-variables";
@use "../nok-mixins";
@use "../nok-utilities";
@use "../nok-colors";

/**
 * square block
 */

$component-name: #{nok-variables.$prefix}-button;

.#{$component-name} {
  --flex-gap: calc(var(--#{nok-variables.$prefix}-padding-base, 1.5rem) / 2);
  --local-bg-color-alpha: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: var(--flex-gap) calc(var(--flex-gap) * 2);
  gap: var(--flex-gap, .75rem);

  white-space: nowrap;
  overflow: hidden;

  @include nok-mixins.nok-heading-font;
  font-weight: 500;
  font-size: var(--#{nok-variables.$prefix}-font-size-buttons, 1.25rem);
  line-height: 1.5;
  text-decoration: none;

  color: var(--text-color--contrast, var(--text-color, inherit));
  @include nok-mixins.nok-border-radius;
  &:not(.no-shadow) {
    @include nok-mixins.nok-btn-shadow-border;
  }
  border: 0 solid #8880;
  outline: 0 none;

  cursor: pointer;
  user-select: none;
  touch-action: manipulation; //prevents double tap zoom on mobile

  &:hover, &:focus, &:active, &.active, &:focus-visible {
    border-color: #8882;
  }

  &:hover {
    color: var(--text-color-button--hover, var(--text-color, var(--text-color--contrast, inherit)));
    background-color: var(--bg-color--hover, inherit);
  }

  &:focus {
    outline: 2px solid hsl(var(--bg-color-hsl, 0deg 100% 50%) / 0.25);
  }

  &:focus-visible { // focus state by other input method than mouse
    @include nok-mixins.nok-focus-ring;
  }

  &:active,
  &.active {
    background-color: var(--bg-color--active, inherit);
  }

  &:disabled,
  &.disabled {
    --local-color-alpha: 0.65;
    opacity: 0.8;
    color: var(--text-color-button, var(--text-color--contrast, inherit));
    pointer-events: none;
  }

  &--small {
    --flex-gap: calc(var(--#{nok-variables.$prefix}-padding-base, 1.5rem) / 4);
    font-size: calc(var(--#{nok-variables.$prefix}-font-size-buttons, 1.25rem) * .8);
  }

  &-menu-toggler,
  &-phone,
  &-font-size-adjust,
  &-search {
    --bg-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--bg-size);
    vertical-align: middle;
    aspect-ratio: 1 / 1;
  }

  &-phone {
    --#{nok-variables.$prefix}-button-icon-phone: #{nok-utilities.escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{map.get(nok-colors.$nok-base-colors, "darkerblue")}' class='bi bi-telephone' viewBox='0 0 16 16'> <path d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z'/> </svg>"))};
    @media (prefers-color-scheme: dark) {
      --#{nok-variables.$prefix}-button-icon-phone: #{nok-utilities.escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{map.get(nok-colors.$nok-base-colors, "white")}' class='bi bi-telephone' viewBox='0 0 16 16'> <path d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z'/> </svg>"))};
    }
    background-image: var(--#{nok-variables.$prefix}-button-icon-phone);
  }

  &-search {
    --#{nok-variables.$prefix}-button-icon-search: #{nok-utilities.escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{map.get(nok-colors.$nok-base-colors, "darkerblue")}' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/></svg>"))};
    @media (prefers-color-scheme: dark) {
      --#{nok-variables.$prefix}-button-icon-search: #{nok-utilities.escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{map.get(nok-colors.$nok-base-colors, "white")}' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/></svg>"))};
    }
    background-image: var(--#{nok-variables.$prefix}-button-icon-search);
  }

  &-font-size-adjust {
    --#{nok-variables.$prefix}-button-icon-font-size-adjust: #{nok-utilities.escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{map.get(nok-colors.$nok-base-colors, "darkerblue")}' class='bi bi-font-size-adjust' viewBox='0 0 16 16'><path d='M11.7 3.7H9.9l-3.3 8.6-2.3-5.7H3.1L.8 12.3H2l.5-1.3h2.3l.5 1.3h3.1l.7-2h3.4l.8 2h1.9l-3.4-8.6ZM2.9 10l.8-2.1.8 2.1H2.9Zm6.7-1.1 1.2-3.2L12 8.9H9.7Z'/></svg>"))};
    @media (prefers-color-scheme: dark) {
      --#{nok-variables.$prefix}-button-icon-font-size-adjust: #{nok-utilities.escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{map.get(nok-colors.$nok-base-colors, "white")}' class='bi bi-font-size-adjust' viewBox='0 0 16 16'><path d='M11.7 3.7H9.9l-3.3 8.6-2.3-5.7H3.1L.8 12.3H2l.5-1.3h2.3l.5 1.3h3.1l.7-2h3.4l.8 2h1.9l-3.4-8.6ZM2.9 10l.8-2.1.8 2.1H2.9Zm6.7-1.1 1.2-3.2L12 8.9H9.7Z'/></svg>"))};
    }
    background-image: var(--#{nok-variables.$prefix}-button-icon-font-size-adjust);
  }
}