@use "sass:map";
@use "../nok-variables";
@use "../nok-mixins";

/**
 * square block
 */

$component-name: #{nok-variables.$prefix}-button;

.#{$component-name} {
  --local-bg-color-alpha: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: calc(var(--nok25-padding-base, 1.5rem) / 2) var(--nok25-padding-base, 1.5rem);

  @include nok-mixins.nok-font;
  font-weight: 500;
  font-size: var(--nok25-font-size-buttons, 1.25rem);
  line-height: 1.5;
  text-decoration: none;

  color: var(--text-color, var(--text-color--contrast, inherit));
  @include nok-mixins.nok-border-radius;
  @include nok-mixins.nok-btn-shadow-border;
  border: 0px solid #8880;
  outline: 0 none;

  cursor: pointer;
  user-select: none;

  &:hover, &:focus, &:active, &.active, &:focus-visible {
    border-color: #8882;
  }

  &:hover {
    color: var(--text-color-button--hover, var(--text-color, var(--text-color--contrast, inherit)));
    background-color: var(--bg-color--hover, inherit);
  }

  &:focus {
    outline: 2px solid hsl(var(--bg-color-hsl, 0 0 0) / 0.25);
  }

  &:focus-visible { // focus state by other input method than mouse
    @include nok-mixins.nok-focus-ring;
  }

  &:active,
  &.active {
    background-color: var(--bg-color--active, inherit);
  }

  &:disabled,
  &.disabled {
    --local-color-alpha: 0.65;
    opacity: 0.8;
    color: var(--text-color-button, var(--text-color--contrast, inherit));
    pointer-events: none;
  }
}