@use "sass:map";
@use "../nok-variables";
@use "../nok-mixins";
@use "../nok-rfs";

$component-name: #{nok-variables.$prefix}-horizontal-section;

.#{$component-name} {
  --section-inner-spacing: #{map.get(nok-variables.$exposed-variables, 'spacing-section-ends')};
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__inner {
    width: 100%;
    padding-right: var(--#{nok-variables.$prefix}-padding-section-sides, (nok-variables.$padding-base * 2));
    padding-left: var(--#{nok-variables.$prefix}-padding-section-sides, (nok-variables.$padding-base * 2));
    margin: var(--section-inner-spacing, nok-variables.$padding-base) auto;

    &--stretched {
      align-self: stretch;
    }
    &--collapsed {
      --section-inner-spacing: 0;
    }
    &--full-width {
      --section-max-width: 100%;
    }

    @each $breakpoint, $section-max-width in nok-variables.$section-max-widths {
      @include nok-mixins.media-breakpoint-up($breakpoint, nok-variables.$grid-breakpoints) {
        @at-root :root {
          --section-max-width: #{$section-max-width};
        }
        & {
          width: 100%;
          max-width: var(--section-max-width, $section-max-width);
        }
      }
    }

  }

  /* Typography todo: move? */
  &__heading {
    grid-column: 1;
    margin: 0;
    &__description {
      margin: 0;
    }
  }

  .pull-down {
    margin-bottom: calc(-1 * var(--section-inner-spacing, 0));
  }
  .pull-down-compensation {
    margin-top: var(--section-inner-spacing, 0);
  }
}


.#{$component-name} p {
  @include nok-rfs.rfs(1.1rem, font-size);
}
h1.#{$component-name}__heading {
  font-size: 3.25rem;
  @include nok-rfs.rfs(3.25rem, font-size);
}
h2.#{$component-name}__heading {
  font-size: 2.5rem;
  @include nok-rfs.rfs(2.5rem, font-size);
}
